{% extends 'site/base_dashboard.html' %}
{% block content %}
    <form method="post">{% csrf_token %}
        <p>Estas seguro que deseas borrar la tarea "{{ object }}"?</p>
        <input type="submit" class="btn btn-primary" value="Confirmar">
    </form>
{% endblock %}