
{% extends 'site/base_dashboard.html' %}

{% block title %}Actualizar tarea{% endblock %}
{% block css  %}
    <link href="/static/assets/node_modules/calendar/dist/fullcalendar.css" rel="stylesheet">
{% endblock %}
{% block contentHeader %}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Calendario</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="calendar" id="calendar"></div>
    </div>
</div>

</div>



{% endblock %}


{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/node_modules/calendar/jquery-ui.min.js"></script>
<script src="/static/assets/node_modules/moment/moment.js"></script>

<script src="/static/assets/js/fullcalendar.min.js"></script>
<script src="/static/assets/js/locale-all.js"></script>
<script>
var today = new Date($.now());
var defaultEvents = JSON.parse('{{ task|safe }}');
console.log(defaultEvents);

var $calendar = $('#calendar');

$calendar.fullCalendar({
    header: {
        left: 'today',
        center: 'title',
        right: 'prev,next'
    },
    locale: 'es',
    eventLimit: true,
    events: defaultEvents,
});
</script>
{% endblock %}

