{% extends 'site/base_dashboard.html' %}

{% block title %}Register Task{% endblock %}

{% block content %}

<div class="row" id="app">
  {{ form.errors }}
  <div class="col-md-3 col-sm-12"> </div>
  <div class="col-md-6 col-sm-12">
    {% include "dashboard/report_problem.html" %}
    <div class="card border-dark">
      <div class="card-header bg-dark">
        <h4 class="m-b-0 text-white">{{ ta.task.name }}</h4>
      </div>
      <div class="card-body">
        <div class="card-text">
          <form method="post">
            {% csrf_token %}
            <div id="more">
              <div class="row">
                <div class="col-md-6 text-truncate">
                  <i class="ti-stats-up"></i> % Completo: {{ ta.task.get_complete_percent }}
                </div>
                <div class="col-md-6 text-truncate">
                  <i class="ti-alarm-clock"></i> Duración: {{ ta.task.get_duration }}
                </div>
                <div class="col-md-6 text-truncate">
                  <i class="ti-alarm-clock"></i> Hora inicio: {{ ta.task.start_hour }}
                </div>
                <div class="col-md-6 text-truncate">
                  <i class="ti-alarm-clock"></i> Hora finalización: {{ ta.task.end_hour }}
                </div>
              </div>
            </div>
            <hr>
            {% csrf_token %}
            {% for f in fields %}
            <div class="form-group">
              <label>{{f.label}}</label>
              <div>
                {% if not f.is_multiple %}
                {% if f.input_type == 'textarea' %}
                <textarea rows="6" class="form-control" required name="{{f.id}}" v-bind:value="values[{{f.id}}]"
                  placeholder="response"></textarea>
                {% else %}
                <input class="form-control" required name="{{f.id}}" v-bind:value="values[{{f.id}}]" placeholder="response" />
                {% endif %}
                {% else %}
                {% for option in f.options_array %}
                <div class="form-check" style="display: flex; align-items: center">
                  <input required style="width: 1.2em; margin-right: 1em" type="radio" name={{f.id}} id="radio_{{option}}"
                    value="{{option}}" :checked="values[{{f.id}}] == '{{option}}'">
                  <label class="form-check-label" for="radio_{{option}}">{{option}}</label>
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mb-12 mt-3">GUARDAR</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12"> </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script>
  $(document).ready(function () {
    $("input").addClass("form-control");
    $("select").addClass("form-control");
    $("textarea").addClass("form-control");
    $("select").select2();
    document.getElementsByTagName("form")[0].setAttribute("enctype", "multipart/form-data");
  });

</script>
<script>
  try {
    var responses = JSON.parse('{{responses|safe}}');
  } catch (ex) {
    var responses = {};
  }
  var app = new Vue({
    el: '#app',
    data: {
      values: {
        ...responses
      },
    }
  })
</script>
{% endblock %}