{% extends 'site/base_dashboard.html' %}

{% block title %}Register Task{% endblock %}

{% block contentHeader %}
<div class="container-fluid">
   <!-- <div class="alert alert-danger">
        {{ form.errors }}
    </div>
-->
        <div class="row">
        <div class="col-12">

<div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Tarea: {{ ta.task.name }}</h4>
                    </div>
                    
</div>


<div class="row"  style="padding: 0">
        <div class="col">
    
                <div class="p-t-0" >
                    <div class=" b-all shadow-none">


        <div class="card border-dark">
            <div class="card-body">
                {% if new %}
                    {% include "dashboard/report_problem.html" %}
                {% endif %}
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                   {% csrf_token %}
                   <br>
                   <p class="text-justify">

                    <div class="row">
                        <div class="col-6">
                            <i class="ti-alarm-clock"></i> Hora de inicio:  {{  ta.task.start_hour }}
                        </div>
                        <div class="col-6">
                            <i class="ti-alarm-clock"></i> Hora de finalización:  {{  ta.task.end_hour }}
                        </div>                                                                          
                    </div>
                    <br>
                    <b>Instrucciones:</b><br>
                    {% firstof ta.task.instructions|safe 'Sin descripción' %}
                </p>
                <br>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"> 
                       <a class="nav-link active show" data-toggle="tab" href="#file1" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-file"></i></span> <span class="hidden-xs-down">Archivo 1</span>
                       </a> 
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#file2" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-file"></i></span> <span class="hidden-xs-down">Archivo 2</span></a> 
                   </li>
                   <li class="nav-item"> 
                       <a class="nav-link" data-toggle="tab" href="#file3" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-file"></i></span> <span class="hidden-xs-down">Archivo 3</span>
                       </a> 
                   </li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content tabcontent-border">
                <div class="tab-pane p-20 active show" id="file1" role="tabpanel">

                    {% if upload_one_ft == 'image'  %}
                 
                        <input class="dropify-es" name="upload_one" id="id_upload_one"  type="file" data-default-file="/{{ form.upload_one.value }}">
                      
                    {% endif %}
                    {% if upload_one_ft == 'doc'  %}
                    {% if form.upload_one.value  %}
                    <h3 class="card-title text-center"><a href="/{{ form.upload_one.value }}" target="_blank" ><i class="ti-download" ></i> Download  </a></h3>

                    <h6 class="card-title text-center">Subir un nuevo Documento/Imagen</h6>
                    {% endif %}
                        <input type="file" name="upload_one" class="dropify-es" id="input-file-max-fs" type="file" data-max-file-size="2M">

                    {% endif %}
                </div>


                <div class="tab-pane p-20" id="file2" role="tabpanel">
                    {% if upload_two_ft == 'image'  %}
                   
                        <input class="dropify-es" name="upload_two" id="id_upload_two"  type="file" data-default-file="/{{ form.upload_two.value }}">
                    
                    {% endif %}
                    {% if upload_two_ft == 'doc'  %}
                    {% if form.upload_two.value  %}
                    <h3 class="card-title text-center"><a href="/{{ form.upload_two.value }}" target="_blank" ><i class="ti-download" ></i> Download  </a></h3>

                    <h6 class="card-title text-center">Upload new Document/Photo</h6>
                    {% endif %}
                    <input type="file" name="upload_two" class="dropify-es" id="input-file-max-fs" type="file" data-max-file-size="2M">
                    {% endif %}

                </div>
                <div class="tab-pane p-20" id="file3" role="tabpanel">
                    {% if upload_three_ft == 'image'  %}
                        <input class="dropify-es" name="upload_three" id="id_upload_three"  type="file" data-default-file="/{{ form.upload_three.value }}">
                    {% endif %}
                    {% if upload_three_ft == 'doc'  %}
                    {% if form.upload_three.value  %}
                    <h3 class="card-title text-center"><a href="/{{ form.upload_three.value }}" target="_blank" ><i class="ti-download" ></i> Download  </a></h3>

                    <h6 class="card-title text-center">Upload new Document/Photo</h6>
                    {% endif %}
                    <input type="file" name="upload_three" class="dropify-es" id="input-file-max-fs" type="file" data-max-file-size="2M">
                    {% endif %}
                </div>
           </div>

           <button type="submit"  class="btn btn-primary btn-block btn-lg" >GUARDAR</button>
           <input type="hidden" name="task_assignment" id="id_task_assignment" value="{{ ta.id }}" >
       </form>

   </div>
</div>
</div>

</div>
</div>
</div>


        </div>

    </div>

</div>

{% endblock %}

{% block contentContainer %}

{% endblock %}

{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
<script>
    $(document).ready(function(){
        $("input").addClass("form-control");
        $("select").addClass("form-control");
        $("textarea").addClass("form-control");
        $("select").select2();
        document.getElementsByTagName("form")[0].setAttribute("enctype", "multipart/form-data");

        
    });

$(document).ready(function() {


    // Translated
    $('.dropify-es').dropify({
        messages: {
            default: 'Arrastra un archivo aquí o da click',
            replace: 'Arrastra un archivo para reemplazarlo',
            remove: 'Eliminar',
            error: 'Error, intentalo nuevamente'
        }
    });

});
</script>
{% endblock %}