<ul id="sidebarnav">
    <li><a class="waves-effect waves-dark" href="/" aria-expanded="false"><i class="icon-speedometer"></i> Panel de control </span></a></li>
    <li> <a class="waves-effect waves-dark" href="/store-administrator/" aria-expanded="false"><i class="icon-home"></i>
        Tiendas </span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="/project-administrator/" aria-expanded="false"><i class="icon-list"></i> Proyectos </span></a>
    </li>
    <li> <a class="waves-effect waves-dark" href="/task-administrator/" aria-expanded="false"><i class="icon-list"></i>
        Tareas </span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="/user-administrator/" aria-expanded="false"><i class="icon-user"></i> Usuarios</span>
        </a>
    </li>
    <li><a href="{{METABASE_SERVER}}/collection/root?type=card"><i class="ti-bar-chart"></i>Reportes</a></li>
</ul>