                   <ul id="sidebarnav">
                        <li><a class="waves-effect waves-dark" href="/" aria-expanded="false"><i class="icon-speedometer"></i> Mis tareas </span></a></li>
                        <li><a class="waves-effect waves-dark" href="/calendar-operator" aria-expanded="false"><i class="icon-calender"></i> Calendario </span></a>
                        <li><a class="waves-effect waves-dark" href="/message-new/?subject=Solicitud de mantenimiento" aria-expanded="false"><i class="ti-brush-alt"></i> Solicitar mantenimiento </span></a>
                        <li><a class="waves-effect waves-dark" href="/message-new/?subject=Reportar stock in/out" aria-expanded="false"><i class="ti-hand-open"></i> Reportar stock in/out</span></a></li>
                    </ul>