{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width BASE DASH-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Inmov">
    <meta name="description" content="Administrador de tareas">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#533fd0">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.ico">
    <title>{% block title %}  {% endblock %}</title>
    <!-- Custom CSS -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/pages/inbox.css" rel="stylesheet">
    <link href="/static/assets/css/pages/audits.css" rel="stylesheet">    
    <link href="/static/assets/css/pages/floating-label.css" rel="stylesheet">
    <link href="/static/assets/css/pages/file-upload.css" rel="stylesheet">
    <link href="/static/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="/static/admin/css/custom.css" rel="stylesheet">
    <link href="/static/assets/node_modules/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="/static/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/admin/js/vendor/datetimepicker/build/jquery.datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.dataTables.min.css"/>
    <link href="/static/assets/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/static/assets/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet">
    <link href="/static/assets/node_modules/nestable/nestable.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style type="text/css">
        body{
        line-height: 1.2;
        }
        .drag_disabled{
            pointer-events: none;
        }
        
        .drag_enabled{
            pointer-events: all;
        }
        .dd-handle{
            color: #333;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid #ccc;
            background: #fafafa !important;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%) !important;
            background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%) !important;
            background: linear-gradient(top, #fafafa 0%, #eee 100%) !important;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
    </style>

    {% block css %}

    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="horizontal-nav {{ request.user.client.theme }} working fixed-layout" >
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label" >Cargando...</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand nav-link nav-toggler waves-effect waves-light" >
                        <img src="/static/assets/images/logo.svg" style="max-width: 100%; height: 50px; margin: 10px 0;" alt="homepage"  />
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->

                          <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect  waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > <i class="ti-email" ></i>
                                <div class="notify"> 
                                    {% if request.user.get_messages_new.count  %}<span class="heartbit"></span> <span class="point"></span>{% endif %}
                                </div>
                            </a>
                            <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">
                                <span class="with-arrow"><span class="bg-danger"></span></span>
                                <ul>
                                    <li>
                                        <div class="drop-title text-white bg-danger">
                                            <h4 class="m-b-0 m-t-4">{{ request.user.get_messages_new.count }} Nuevos</h4>
                                            <span class="font-light">Mensajes</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->

                                            {% for m in request.user.get_messages_new %}
                                            <a href="/message-view/{{ m.id }}">
                                                <div class="user-img"> <img src="/{{ m.from_user.avatar }}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>{{ m.from_user }} </h5> <span class="mail-desc">{{ m.subject }}</span> <span class="time">{{ m.get_date }}</span> </div>
                                            </a> 
                                            {% empty %}
                                            <div class="row p-t-20 m-l-10 m-r-10">
                                                    <div class="col-md-12">
                                                    No se han encontrado mensajes
                                                    </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link m-b-5" href="/inbox"> <b>Ver mensajes</b> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/{{ request.user.avatar }}" alt="user" class="img-circle" width="30" height="30"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <div class="d-flex no-block align-items-center p-15 bg-dark text-white m-b-10">
                                    <div class=""><img src="/{{ request.user.avatar }}" alt="user" class="img-circle" width="60" height="60"></div>
                                    <div class="m-l-10">
                                        <h4 class="m-b-0">{{ request.user.get_fullname }}</h4>
                                        <p class=" m-b-0">{{ request.user.email }}</p>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="/profile"><i class="ti-user m-r-5 m-l-5"></i> Mi perfil</a>
                                <a class="dropdown-item" href="/inbox"><i class="ti-email m-r-5 m-l-5"></i> Mensajes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout/"><i class="fa fa-power-off m-r-5 m-l-5"></i>Salir</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="nav-text-box align-items-center d-sm-none">
                <span><img src="/static/assets/images/logo_color.svg" width="100px" alt="elegant admin template"></span>
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-close"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    {% if request.user.get_profile == 'Operator' %}
                        {%include 'site/base_menu_operator.html'%}
                    {% endif %}
                    {% if request.user.get_profile == 'Auditor' %}
                        {%include 'site/base_menu_auditor.html'%}
                    {% endif %}
                    {% if request.user.get_profile == 'Administrator' %}
                        {%include 'site/base_menu_administrador.html'%}
                    {% endif %}
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper container-inline">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- Start Out card content -->
                <!-- ============================================================== -->
                {% block contentHeader %}
                {% endblock %}
                <!-- ============================================================== -->
                <!-- End Out card content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                {% block contentContainer %}
                <div class="row" id="hiddeme" >
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                 {% block content %}
                                 {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>    
                {% endblock %}
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2018 Inmov
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="/static/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/node_modules/popper/popper.min.js"></script>
    <script src="/static/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/assets/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="/static/assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/static/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/admin/js/vendor/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    <script src="/static/assets/node_modules/switchery/dist/switchery.min.js"></script>
    <script>
        jQuery.datetimepicker.setLocale('es');
    </script>
    <!--Custom JavaScript -->
    <script src="/static/assets/node_modules/moment/min/moment.min.js"></script>
    <script src="/static/assets/js/custom.min.js"></script>   
    <script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
    <script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw.js"></script>
    <script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw-init.js"></script>
    <!-- This is data table -->
    <script src="/static/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/assets/node_modules/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/static/assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script>$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);</script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="/static/assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
<script src="/static/assets/js/fullcalendar.min.js"></script>
<script src="/static/assets/js/locale-all.js"></script>
<script src="/static/assets/node_modules/nestable/jquery.nestable.js"></script>
    <script>
            $.ajaxPrefilter(function(options, originalOptions, jqXHR){
                var csrf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                console.log(csrf_token);
                // add _token entry
                jqXHR.setRequestHeader("X-CSRFToken", csrf_token);
            });

            {% if canlendar_obj %}
                    var today = new Date($.now());
                    var defaultEvents = JSON.parse('{{ canlendar_obj|safe }}');
                    //console.log(defaultEvents);
                    
                    var $calendar = $('#calendar');
                   
                  

                    $calendar.fullCalendar({
                        header: {
                            left: 'today',
                            center: 'title',
                            right: 'prev,next'
                        },
                        locale: 'es',
                        eventLimit: true,
                        events: defaultEvents
                    });
            {% endif %}
            $(function() {
                var elems = Array.prototype.slice.call(
                    document.querySelectorAll('.js-switch')
                );
                elems.forEach(function(el) {
                    var switchery = new Switchery(el);
                });
            })
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>