                   <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i class="icon-speedometer"></i> Calendario </span></a></li>
                        <li> <a class="waves-effect waves-dark" href="/audits" aria-expanded="false"><i class="ti-check-box"></i> Auditorias </span></a>
                        <li> <a class="waves-effect waves-dark" href="/auditor-reports" aria-expanded="false"><i class="ti-check-box"></i> Reportes</span></a>
                        </li>
                    </ul>