{% extends 'site/base_dashboard.html' %}
{% block content %}
    <div class="embed-responsive embed-responsive-21by9">
        <iframe src="http://axdigital.co:3000/public/dashboard/22ee10b1-9d3e-4a20-b40d-b43a69f5927f" frameborder="0" allowtransparency></iframe>
    </div>
{% endblock %}