{% extends 'site/base_dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div class="card-body" >

<div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Visitas Agendadas</h3>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="{% url 'create-audit' %}">
                               <button type="button" class="btn btn-info  d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> AGENDAR VISITA</button>
                            </a>
                            <a href="{% url 'edit-audit-form' 1 %}">
                                <button type="button" class="btn btn-info  d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> ACTUALIZAR FORMULARIO</button>
                            </a>
                        </div>
                </div>
</div>
   <hr class="m-t-0 m-b-40">

    <div class="card shadow-none">
        <div>
           
            <table class="display nowrap table table-hover table-striped table-bordered dataTable no-footer dtr-inline" id="table">
                <thead >
                    <tr>
                        <th >Nombre de tienda:</th>
                        <th>Fecha de la visita</th>
                        <th>Resultado</th>
                      <th  class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pv in object_list %}
                    <tr>
                        <td>{{ pv.store.name }}</td>
                        <td>{{ pv.date_time_programmed }}</td>
                        {% if pv.audit_result.all.count == 0 %}
                            <td><a class="btn btn-sm btn-primary" href="{% url 'run-visit' pv.id %}">EJECUTAR VISITA</a></td>
                        {% else %}
                            <td><div>{{ pv.calculate_audit_result }}% Cumplido</div></td>
                        {% endif %}
                        <td class="text-center">  
                        {% if pv.audit_result.all.count == 0 %}
                        {% else %}                                              
                            <a href="/edit-audit/{{pv.id}}" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                        {% endif %}
                            <!-- <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> -->
                             </td>
                    </tr>
                    {% empty %}
                    <td>Aún no existen resultados</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}



<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="/static/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>

<script>
    $(document).ready(function() {

$('#table').DataTable({
                dom: 'Bfrtip',
                bLengthChange: true,
                buttons: [
                'copy', 'excel', 'pdf', 'print'
                ],
                responsive: true, 
                order: [[ 1, "desc" ]],
            	"displayLength": 20,
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    },
            });
  })

    
</script>

{% endblock %}
