{% extends 'site/base_dashboard.html' %}
{% load widget_tweaks %}
{% block contentHeader %}
<div class="container-fluid">
<div class="row">
<div class="col-12">

<div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Agendar Visita</h4>
                    </div>
                    
</div>

<div class="row"  style="padding: 0">
    <div class="col">
            {{ form.errors }}   

            <div class="p-t-0" >
				<div class=" b-all shadow-none">

                    <form method="post" class="form-horizontal">
                    {% csrf_token %}
                  
                    <div class="form-body">
                  
                        <div class="row" style="margin-bottom:20px;"><!--Col row master-->
                                <div class="col-md-12 col-sm-12 "> <!--Col izq-->
                                    <div class="card" style="    height: 100%;">
                                            <div class="card-body">
                                <!--titulo
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="box-title">Items a evaluar</h3>
                                        </div>
                                    </div>
                                    <hr>
                                 titulo-->

                                     
                                            <div class="row p-t-20 m-l-10">
                                                <div class="col-md-12">

                                                    <div class="form-group row"> 
                                                        <label class="col-10 col-form-label" for="date_time_programmed2">{{form.date_time_programmed.label}}</label>
                                                        <input class="form-control bootstrapMaterialDatePicker" id="date_time_programmed2" name="date_time_programmed" autocomplete="off"  type="text">
                                                       
                                                    </div>

                                                </div><!--col-->
                                            </div> <!--p-t-20-->
                                    
                                     
                                            <div class="row p-t-20 m-l-10">
                                                    <div class="col-md-12">
    
                                                        <div class="form-group row">
                                                            <label class="col-10 col-form-label" for="store">{{form.store.label}}</label>
                                                            {{form.store|add_class:"form-control"|add_class:"p-0"|attr:"autocomplete:off"}}
                                                        </div>
    
                                                    </div><!--col-->
                                                </div> <!--p-t-20-->

                                    </div> <!--CARD BODY-->
                                </div> <!--CARD-->
                                </div> <!--Col izq-->

                              

                        </div>  <!--Col row master-->

                        <div class="row"><!--Col row master-->
                            <div class="col-12 "> <!--Col izq-->
                                <div class="card">
                                        <div class="card-body">

                                                <div class="row">
                                                        <div class="col-md-12">
                                                                <button class="btn btn-primary waves-effect waves-light  m-r-10" type="submit">GUARDAR</button>

                                                                <a href="{% url 'audits' %}">
                                                                    <button class="btn btn-inverse waves-effect waves-light" type="button">CANCELAR</button>
                                                                </a>
                                                        </div>
                                                    </div>

                                        </div> <!--Card Body-->  
                                </div>         <!--Card-->   
                            </div>   <!--Col submitsq-->  
                        </div><!--Col row master-->


                    </div><!--form-body-->
                    </form>

                </div><!--Content-->
            </div><!--Content-->    


    </div><!---->
</div><!--Row-->

<div id="overlayGeo">
    <div id="textOver">Es necesario conocer tu ubicación actual.</div>
</div>
<div id="status"></div>

</div><!--col 12-->
</div><!--row-->
</div><!--container fluid-->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-body">
                    <img id="bigimage" class="img-fluid" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
</div>


{% endblock %}

{% block contentContainer %}

{% endblock %}

{% block javascript %}
    <script>
        
    $('#date_time_programmed2').bootstrapMaterialDatePicker({ format: 'YYYY/MM/DD HH:mm' });
  /*      jQuery('[name="date_time_programmed"]').datetimepicker();
    $(document).ready(function(){
        jQuery('#id_store option:first').text("");
    });*/
    </script>
{% endblock %}