{% extends 'site/base_dashboard.html' %}
{% load widget_tweaks %}
{% block title %}Formulario de auditoria{% endblock %}
{% block contentHeader %}
<div class="container-fluid">
<div class="row">
<div class="col-12">

<div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Actualizar Formulario - Check List</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                            <div class="d-flex justify-content-end align-items-center">
                                    <a  data-toggle="modal" data-target="#modal-create-field" href="javascript:void(0)"  class="btn btn-info d-lg-block m-l-15"> <i class="fa fa-plus-circle"></i>Añadir revisión:</a>
                            </div>
                    </div>
                    
</div>

<div class="row"  style="padding: 0">
    <div class="col">

            <div class="p-t-0" >
				<div class=" b-all shadow-none">

                    <form method="post" class="form-control-line" enctype="multipart/form-data" id="app">
                    {% csrf_token %}         
                    <input name="fields" type="hidden" :value="JSON.stringify(fields)" />

                  
                    <div class="form-body">
                  
                        <div class="row" style="margin-bottom:20px;"><!--Col row master-->
                                <div class="col-md-6 col-sm-12 "> <!--Col izq-->
                                    <div class="card" style="    height: 100%;">
                                            <div class="card-body">
                                <!--titulo-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="box-title">Items a evaluar</h3>
                                        </div>
                                    </div>
                                    <hr>
                                 <!--titulo-->

                                            <div  v-for="f in fields" class="row p-t-20 m-l-10">
                                                <div class="col-md-12">

                                                    <div class="form-group row">
                                                        <input checked type="checkbox" class="js-switch"  disabled data-color="#2EA08C" data-size="small">
                                                        <label v-text="f.label" class="control-label col-10"  ></label>
                                                    </div>

                                                </div><!--col-->
                                            </div> <!--p-t-20-->


                                            <div v-if="fields.length == 0" class="row p-t-20">
                                                    <div class="col-md-12">
                                                    No se han encontrado registros
                                                    </div>
                                            </div>




                                    </div> <!--CARD BODY-->
                                </div> <!--CARD-->
                                </div> <!--Col izq-->


                        </div>  <!--Col row master-->

                        <div class="row"><!--Col row master-->
                            <div class="col-12 "> <!--Col izq-->
                                <div class="card">
                                        <div class="card-body">

                                                <div class="row">
                                                        <div class="col-md-12">
                                                                <button class="btn btn-primary waves-effect waves-light  m-r-10" type="submit">{% if update %}ACTUALIZAR{% else %}CREAR{% endif %}</button>

                                                                <a href="{% url 'audits' %}">
                                                                    <button class="btn btn-inverse waves-effect waves-light" type="button">CANCELAR</button>
                                                                </a>
                                                        </div>
                                                    </div>

                                        </div> <!--Card Body-->  
                                </div>         <!--Card-->   
                            </div>   <!--Col submitsq-->  
                        </div><!--Col row master-->


                    </div><!--form-body-->






                        <div class="modal" tabindex="-1" role="dialog" id="modal-create-field">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Añadir a lista de checkbox</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Ingrese su opción</label>
                                        <input class="form-control" id="labeltext" type="text" placeholder="Ej. Letreros a la Vista">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" @click="addOption" class="btn btn-primary">AÑADIR</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                                </div>
                                </div>
                            </div>
                        </div><!--modal-->




                    </form>

                </div><!--Content-->
            </div><!--Content-->    


    </div><!---->
</div><!--Row-->


</div><!--col 12-->
</div><!--row-->
</div><!--container fluid-->




{% endblock %}

{% block contentContainer %}

{% endblock %}
{% block javascript %}
    <script>
        try {
            var fields = JSON.parse('{{ form_fields | safe }}');
        } catch(ex) {
            var fields = [];
        }
        var app = new Vue({
            el: '#app',
            data: {
                tempLabel: '',
                fields: fields,
            },
            updated: function () {
                this.$nextTick(function () {
                var cant = $('.js-switch').length;
               $('.js-switch').each(function(i=1) {
                    i++;
                   if(cant==i){     
                       console.log("ss");         
                        new Switchery($(this)[0], $(this).data());
                        }
                    });
                            
                })
            },
            methods: {
                addOption: function() {
                    if ($("#labeltext").val() === "") {
                        alert("Debe ingresar un label");
                        return;
                    }
                    this.fields.push({
                        label: $("#labeltext").val(),
                    });
                    $("#labeltext").val('');
                    
                    $('#modal-create-field').modal('hide');
                
                },
              
            }
        })

 

    </script>
{% endblock %}