{% extends 'site/base_dashboard.html' %}
{% block contentHeader %}
<div class="container-fluid">
<div class="row">
<div class="col-12">

<div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Auditoria - {% if initial_files %}Editar{% else %}Crear{% endif %}</h4>
                    </div>
                    
</div>

<div class="row"  style="padding: 0">
    <div class="col">

            <div class="p-t-0" >
				<div class=" b-all shadow-none">

                    <form method="post" class="form-control-line" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <input name="lat" id="lat" type="hidden" value="" />
                    <input name="lon" id="lon" type="hidden" value="" />
                    <input name="clientIp" id="clientIp" type="hidden" value="" />
                    {% if my_files %}
                    <input type="hidden" name="visit_aud_id" value="{{initial_data.id}}">
                    {% endif %}

                    <div class="form-body">
                  
                        <div class="row" style="margin-bottom:20px;"><!--Col row master-->
                                <div class="col-md-6 col-sm-12 "> <!--Col izq-->
                                    <div class="card" style="    height: 100%;">
                                            <div class="card-body">
                                <!--titulo-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="box-title">Items a evaluar</h3>
                                        </div>
                                    </div>
                                    <hr>
                                 <!--titulo-->

                                        {% for field in object.audit_form.form_fields.all %}
                                            <div class="row p-t-20 m-l-10">
                                                <div class="col-md-12">

                                                    <div class="form-group row">
                                                        <input id="{{ field.id }}"  name="{{ field.id }}" {% for item in my_fields %}{% if item.checked == 1 %}{% if item.field_id == field.id %} checked="checked" {% endif %}{% endif %}{% endfor %} data-color="#2EA08C"  type="checkbox" class="js-switch col-2"   data-size="small">
                                                        <label class="control-label col-10" for="{{ field.id }}">{{ field.label }}</label>
                                                    </div>

                                                </div><!--col-->
                                            </div> <!--p-t-20-->
                                        {% empty %}
                                        <div class="row p-t-20">
                                                <div class="col-md-6">
                                                No se han encontrado registros
                                                </div>
                                        </div>
                                        {% endfor %}
                                    </div> <!--CARD BODY-->
                                </div> <!--CARD-->
                                </div> <!--Col izq-->

                                <div class="col-md-6 col-sm-12"><!--Col der-->
                                    <div class="card" style="    height: 100%;">
                                            <div class="card-body">
                                    <!--titulo-->
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12">
                                            <h3 class="box-title">Evidencias</h3>
                                        </div>
                                        <div class="col-md-5 col-sm-12 align-self-center text-right">
                                            <div class="d-flex justify-content-end align-items-center">
                                                <button type="button" onclick="addNewFile()" class="btn btn-info  d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> <span class="d-none d-lg-inline">Agregar Archivo</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                <!--titulo-->
                                <div class="imgContainerMaster">
                                {% if my_files %}
                                    {% for item in my_files %}
                                     {% if item.image %}
                                            <div class="row p-t-20 imgcontainer{{forloop.counter}}">
                                                <div class="col-sm-9  m-l-10  m-t-10">
                                                       
                                                       <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Cargar</span>
                                                            </div>
                                                            <div class="custom-file">
                                                                <input type="file" name="img{{forloop.counter}}" class="imgItem custom-file-input" data-id="{{forloop.counter}}" id="img{{forloop.counter}}">
                                                                <input type="hidden" name="idImage{{forloop.counter}}" value="{{item.id}}" class="imgItem custom-file-input" id="idImage{{forloop.counter}}">
                                                                <label for="img{{forloop.counter}}" class="custom-file-label" for="img{{forloop.counter}}">...</label>
                                                            </div>
                                                        </div>

                                                </div><!--col-->
                                                <div class="col-sm-1 m-l-10 itmAdc{{forloop.counter}} m-t-10">

                                                       <button type="button" onclick="RemoveFile({{forloop.counter}})" class="btn btn-danger removeFileInput"><i class="ti-trash"></i></button>

                                                </div><!--col-->
                                                <div class="col-sm-1  m-l-10  m-t-10">

                                                    <img data-toggle="modal" data-target="#exampleModal" id="imgpw{{forloop.counter}}" class="imgpw" style="cursor:zoom-in" src="../../{{item.image}}" height="35px">
                                                    
                                                </div><!--col-->
                                            </div> <!--p-t-20-->
                                        {% endif %}
                                    {% endfor %}
                                <input type="hidden" name="cantImg" value="{{forloop.counter}}" id="cantImg">
                                {% else %}


                                    <div class="row p-t-20 imgcontainer1">
                                        <div class="col-sm-9  m-l-10  m-t-10">
                                               
                                               <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Cargar</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input data-id="1" type="file" name="img1" class="imgItem custom-file-input" id="img1">
                                                        <label for="img1" data-toggle="modal" data-target="#exampleModal" class="custom-file-label" for="img1">...</label>
                                                    </div>
                                                </div>

                                        </div><!--col-->
                                        <div class="col-sm-1 m-l-10  m-t-10">

                                              
                                        </div><!--col-->
                                        <div class="col-sm-1 m-l-10  m-t-10">

                                            <img id="imgpw1"  class="imgpw" data-toggle="modal" data-target="#exampleModal"  style="cursor:zoom-in" src="/static/assets/images/NO_IMG_600x600.png" height="35px">
                                            
                                        </div><!--col-->
                                    </div> <!--p-t-20-->
                                    <input type="hidden" name="cantImg" value="1" id="cantImg">
                                {% endif %}
                                </div>
                                    
                                        </div> <!--CARD BODY-->
                                    </div> <!--CARD-->
                                </div>  <!--Col der-->

                        </div>  <!--Col row master-->


                        <div class="row"><!--Col row master-->
                            <div class="col-12 "> <!--Col izq-->
                                <div class="card">
                                        <div class="card-body">

                                            <!--titulo-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="box-title">Observaciones Generales</h3>
                                        </div>
                                    </div>
                                    <hr>
                                 <!--titulo-->

                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                    <textarea placeholder="Ingrese sus comentarios" class="form-control" rows="3" name="comments"  id="comments">{{initial_data.comments}}</textarea>
                                                            </div>

                                                        </div>
                                                    </div>

                                        </div> <!--Card Body-->  
                                </div>         <!--Card-->   
                            </div>   <!--Col submitsq-->  
                        </div><!--Col row master-->



                        <div class="row"><!--Col row master-->
                            <div class="col-12 "> <!--Col izq-->
                                <div class="card">
                                        <div class="card-body">

                                                <div class="row">
                                                        <div class="col-md-12">
                                                                <button class="btn btn-primary waves-effect waves-light  m-r-10" type="submit">{% if initial_files %}ACTUALIZAR{% else %}GUARDAR{% endif %}</button>

                                                                <a href="{% url 'audits' %}">
                                                                    <button class="btn btn-inverse waves-effect waves-light" type="button">CANCELAR</button>
                                                                </a>
                                                        </div>
                                                    </div>

                                        </div> <!--Card Body-->  
                                </div>         <!--Card-->   
                            </div>   <!--Col submitsq-->  
                        </div><!--Col row master-->


                    </div><!--form-body-->
                    </form>

                </div><!--Content-->
            </div><!--Content-->    


    </div><!---->
</div><!--Row-->

<div id="overlayGeo">
    <div id="textOver">Es necesario conocer tu ubicación actual.</div>
</div>
<div id="status"></div>

</div><!--col 12-->
</div><!--row-->
</div><!--container fluid-->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-body">
                    <img id="bigimage" class="img-fluid" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
</div>


{% endblock %}

{% block contentContainer %}

{% endblock %}

{% block javascript %}
<script>
        try {
            var initial_files = JSON.parse('{{initial_files|safe}}');
           // console.log(initial_files.length);
            $("#cantImg").val(initial_files.length);
        } catch(ex) {
            var initial_files = [];
        }
        
    function on() {
        if ($("#lat").val() == "" || $("#lon").val() == "") {
         //   document.getElementById("overlayGeo").style.display = "block";
        }
    }

    function off() {
        document.getElementById("overlayGeo").style.display = "none";
    }

    jQuery(document).ready(function () {
        on();
    });
    jQuery('[name="date_time_programmed"]').datetimepicker();

    on();
   // detectLocation();

    function detectLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geocodePosition, onError, { timeout: 30000 });
            navigator.geolocation.watchPosition(watchGeocodePosition);
            off();
        }
        else {
            showMessageError();
        }
    }
    function geocodePosition(position) {
        console.log("Found your location nLat : " + position.coords.latitude + " nLang :" + position.coords.longitude);
        $("#lat").val(position.coords.latitude);
        $("#lon").val(position.coords.longitude);
    }

    function watchGeocodePosition() {
        detectLocation();
    }

    function onError(error) {
        console.log("error " + error.code);
        showMessageError();

    }
    function showMessageError() {
        on();
        jQuery('#textOver').html("No es posible detectar tu ubicación.<br><a id='locationRefresh' href='javascript:void(0)' onclick='window.location.reload();'>Intentalo nuevamente.</a>");
    }

    function addNewFile() {
        var cantRows = parseInt($("#cantImg").val()) + 1;
        $("#cantImg").val(cantRows);


       var Col1 = $("<div>").attr({
                        class: "col-sm-9  m-l-10  m-t-10"
                    }).append(
                        $("<div>").attr({
                            class: "input-group"
                        }).append(
                            $("<div>").attr({
                                    class: "input-group-prepend"
                                }).append(
                                    $("<span>", {
                                        class: "input-group-text",
                                        text: "Cargar"
                                    })
                                )    
                        ).append(
                            $("<div>").attr({
                                class: "custom-file"
                            }).append(
                                $("<input>").attr({
                                    class: 'custom-file-input imgItem',
                                    type: "file",
                                    name: "img"+cantRows,
                                    id: "img"+cantRows,
                                    onchange:"readURL(this)",
                                    'data-id': cantRows         
                                                    })
                            ).append(
                                $("<label>").attr({
                                    class: 'custom-file-label',
                                    for: 'img'+cantRows,
                                    text: '...'         
                                                    })
                            )
                        )

                    );

        var Col2 = $("<div>").attr({
                        class: "col-sm-1  m-l-10  m-t-10"
                    }).append(
                        $("<button>").attr({
                            class: 'btn btn-danger removeFileInput',
                            type: 'button',
                            onclick: 'RemoveFile('+cantRows+')'}).append(
                                $("<i>").attr({
                                    class: 'ti-trash'})
                            )
                    );  


        var Col3 = $("<div>").attr({
                        class: "col-sm-1 m-l-10  m-t-10"
                    }).append(
                        $("<img>").attr({
                            class: 'imgpw',
                            id: 'imgpw'+cantRows,
                            onclick:"$('#bigimage').attr('src', $(this).attr('src'))",
                            'data-toggle':'modal',
                            'data-target':'#exampleModal',
                            'style': "cursor:zoom-in",
                            'src':'/static/assets/images/NO_IMG_600x600.png',
                            'height':'35px'})
                    );                     
     
        $("<div>", {
            class: "row p-t-20 imgcontainer" + cantRows
        }).append(Col1, Col2, Col3).hide()
            .appendTo(".imgContainerMaster").fadeIn("slow");
 
    
    }

function RemoveFile(id){
$(".imgcontainer"+id).remove();
}


function ipLookUp () {
  $.ajax('http://ip-api.com/json')
  .then(
      function success(response) {
          console.log('User\'s Location Data is ', response);
          console.log('User\'s Country', response.country);
        $("#lat").val(response.lat);
        $("#lon").val(response.lon);
      },

      function fail(data, status) {
          console.log('Request failed.  Returned status of',
                      status);
      }
  );
}

ipLookUp()

function readURL(input) {
    item = $(input).data("id");
   // console.log(item);
  if (input.files && input.files[0]) {
     // console.log("#idImage"+item+"::"+$("#idImage"+item).val());
    oldImage = $("#idImage"+item).val();
    if(oldImage > 0){
        $("#idImage"+item).val("");
    }
    var reader = new FileReader();
    reader.onload = function(e) {
      e.preventDefault();
      //console.log(e.target.result);
      $('#bigimage').attr('src', e.target.result);
      $('#imgpw'+item).attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$(".imgItem").change(function() {
  readURL(this);
});

$(".imgpw").on("click", function(){
    ruta = $(this).attr('src');
    $('#bigimage').attr('src', ruta);
});

</script>
{% endblock %}