{% extends 'site/base_dashboard.html' %}

{% block title %}Mi perfil{% endblock %}

{% block content %}
    
    <h2> User </h2>

        <div class="row">

                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                <div class="card">
                                    <div class="card-body">
                                        <center class="m-t-30"> <img src="/{{ object.avatar }}" class="img-circle" width="150" />
                                            <h4 class="card-title m-t-10">{{ object.first_name }}</h4>
                                            <h6 class="card-subtitle">{{ object.get_profile }}</h6>
                                        </center>
                                    </div>
                                    <div class="card-body"> 
                                        <small class="text-muted">Correo </small>
                                        <h6>{{ object.email }}</h6> 
                                        <small class="text-muted p-t-30 db">Teléfono</small>
                                        <h6>{{ object.mobile }}</h6> 
                                        <small class="text-muted p-t-30 db">Último ingreso</small> 
                                        <h6>{{ object.last_login }}</h6>                              
                                        <br/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8 col-xlg-9 col-md-7">
                                <div class="card">

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <!-- tab-->
                                        <div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                                                        <br>
                                                        <p class="text-muted">{{object.get_fullname }}</p>
                                                    </div>
                                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                                                        <br>
                                                        <p class="text-muted">{{ object.mobile }}</p>
                                                    </div>
                                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                                                        <br>
                                                        <p class="text-muted">{{ object.email }}</p>
                                                    </div>
                                                    <div class="col-md-3 col-xs-6"> <strong>User</strong>
                                                        <br>
                                                        <p class="text-muted">{{ object.username }}</p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <h4 class="font-medium m-t-30">Statistics</h4>
                                                <hr>
                                                    <center>Coming Soon</center> 
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
            </div>


{% endblock %}

{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
        $("input").addClass("form-control");
        $("select").addClass("form-control");
        $("textarea").addClass("form-control");
        $("select").select2();
        document.getElementsByTagName("form")[0].setAttribute("enctype", "multipart/form-data");
});
</script>
{% endblock %}