.execute_task__dropzone-container {
    width: 100%;
    text-align: center;
    color: #ccc;
}

.execute_task__dropzone-text {
    font-size: 3em;
}

.dz-remove {
    color: red;
    cursor: pointer;
    padding-bottom: 2em;
    width: 100%;
}

.card-dropzone {
    border: 1px solid #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}