.storenew__img {
    max-width: 300px;
    height: auto;
    width: 100%;
    max-height: 300px;
    position: relative;
}

.storenew__img img {
    width: 100%;
    object-fit: cover;
}

.storenew__img:hover .label {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7));
    max-height: 0;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    bottom: 0;
}

.storenew__img:hover .label {
    max-height: 100px;
}