<!-- ============================================================== -->
<!-- Dashboard Operator                                             -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Tareas para hoy</h4>
    </div>
</div>
<div class="row" style="margin:0;padding:0">
    <div class="col-lg-9 col-md-9 col-sm-12" style="margin:0;padding:0">
        <div class="card">
                <div class="card-body">
                    <div class="b-all shadow-none" >
                        <div class="p-t-0">
                                <div class="b-all shadow-none">
                
                                        <table class="display nowrap table table-hover table-striped table-bordered dataTable no-footer dtr-inline" id="table" width="100%" >
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Tarea</th>
                                                    <th>Duración</th>
                                                    <th>Dependencia</th>
                                                    <th>Avance</th>
                                                    <th  class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                
                                            <tbody>
                                                {% for t in task_recurrent %}
                                                <tr>
                                                    <td >
                                                            {{ t.TaskAssignment.task.start_hour }} - {{ t.TaskAssignment.task.end_hour }}
                                                    </td>
                                                    <td>
                                                            {{t.TaskAssignment.task.name}}</h5> 
                                                            {% if t.TaskAssignment.task.project  %}
                                                                <div style="max-width: 150px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis"><i class="ti-clipboard"></i> <small>Proyectos: {{ t.TaskAssignment.task.projects_names }}</small></div>
                                                            {% endif %}
                                                            <i class="ti-stats-up"></i> <small>Puntaje: {{t.TaskAssignment.task.get_score}} 
                                                    </td>
                                                    <td> 
                                                            <i class="ti-alarm-clock"></i> <small>Duración:{{ t.TaskAssignment.task.get_duration }}</small>
                                                    </td>
                                                    <td>
                                                            <i class="ti-clipboard"></i> <small>Tarea Padre: {% firstof t.TaskAssignment.task.parent 'Ninguno' %}</small>
                                                    </td>
                                                    <td>
                                                        <small>
                                                            <div style="width: 100%; border: 1px solid rgba(0,0,0,0.2); margin-top: 5px">
                                                                {% if t.TaskAssignment.task.get_progress > 0 %}
                                                                    <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" style="padding: 2px; width: {{ t.TaskAssignment.task.get_progress }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ t.TaskAssignment.task.get_complete_percent }}</div>
                                                                    </div>
                                                                {% else %}
                                                                <div class="text-center">
                                                                    0%
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </small>
                                                    </td>
                                                    <td  class="text-center">
                                                            <a href="{{ t.state.detail_url }}">  <span class="label {{t.state.class}} center-block"> {{t.state.label}} </span> </a>
                                                    </td>
                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                
                                </div>
                            </div>
    
    
    
        
                    </div>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card">

            <div class="card-body inbox-panel">
                            <div class="card">
                                        <h5 class="card-title">Agenda para hoy</h5>
                                        <h6 class="card-subtitle">Verificar tu calendario diario</h6>
                                <div class="d-flex no-block p-15 align-items-center">
                                    <div class="round round-info"><i class="ti-receipt font-16"></i></div>
                                    <div class="m-l-10 ">
                                        <h3 class="m-b-0">{{task_count}}</h3>
                                        <h6 class="text-muted font-light m-b-0">Tareas para hoy</h6> </div>
                                </div>
                                <hr>
                                <div class="d-flex no-block p-15 align-items-center">
                                    <div class="round round-primary"><i class="ti-list font-16"></i></div>
                                    <div class="m-l-10">
                                        <h3 class="m-b-0">{{task_todo}}</h3>
                                        <h6 class="text-muted font-light m-b-0">Tareas por hacer</h6></div>
                                </div>
                                <hr>
                                <div class="d-flex no-block p-15 m-b-15 align-items-center">
                                    <div class="round round-danger"><i class="ti-time font-16"></i></div>
                                    <div class="m-l-10">
                                        <h3 class="m-b-0">{{task_delay}}</h3>
                                        <h6 class="text-muted font-light m-b-0">Tareas para hoy retrasadas</h6></div>
                                </div>
                            </div>
        
        
                    <!-- column -->
                    <div class="col-lg-12">
                        {% comment %} <div class="card">
                                <h5 class="card-title">Resumen de proyectos</h5>
                                <div class="table-responsive">
                                    <table class="table table-hover">      
                                        <thead>
                                            <tr>
                                                <th>Proyecto</th>
                                                <th># Tareas</th>
                                                <th>Puntaje </th>
        
                                            </tr>
                                        </thead>
                                        <tbody>                      
                                        {% for p in projects %}
                                            <tr>
                                                <td class="txt-oflo">{{ p.task_assignment__task__project__name }} <br>{{ p.task_assignment__store__name }} </td>
                                                <td>{{ p.tcount }}</td>
                                                <td>
                                                {% if p.tavg < 50 %}
                                                    <span class="text-danger">{{ p.tavg }} %</span>
                                                {% elif p.tavg >= 70 %}
                                                    <span class="text-warning">{{ p.tavg }} %</span>
                                                {% elif p.tavg >= 90  %}
                                                    <span class="text-success">{{ p.tavg }} %</span>
                                                {% endif  %}
                                            </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
        
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row" style="margin:0;padding:0">
        <div class="col-lg-9 col-md-9 col-sm-12" style="margin:0;padding:0">
            <div class="row">

                        <div class="card col-lg-6 col-md-6 col-sm-12">
                            <div class="card-body">
                                <h4 class="card-title">Proyectos</h4>
                                <div id="accordion">
                                        {% for t in myProjects %}
                                              <div class="card">
                                                <div class="card-header" id="headingOne">
                                                  <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{t.proyecto}}" aria-expanded="true" aria-controls="collapse{{t.proyecto}}">
                                                          <span class="font-weight-bold">Proyecto:</span> {{t.proyecto__name}}
                                                    </button>
                                                  </h5>
                                                </div>
                                            
                                                    <div id="collapse{{t.proyecto}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="">
                                                          {%for key, value in task_structure.items %}
                                                            {% if key == t.proyecto %}
                                                                <div class="list-group">
                                                                        {%for tarea in value %}
                                                                                <div class="list-group-item list-group-item-action">  
                                                                                    <span class="font-weight-bold">Tarea:</span> {{tarea.name}}
                                                                                    <a href="task-execute/{{tarea.assignment__project__stores__id}}/{{tarea.id}}/{{t.proyecto}}">  <span  class="label label-info float-right"> Ejecutar tarea </span> </a>
                                                                                </div>    
                                                                        {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                          {% endfor %}
  
                                                        </div>
                                                    </div>
                                              </div>
                                          {% endfor %}
                                      </div>


                            </div>
                        </div>  
                        
                        <div class="card col-lg-6 col-md-6 col-sm-12">
                                <div class="card-body">
                                    <h4 class="card-title">Tareas Aisladas</h4>

                                    <div id="accordion">
                                        <div class="card">
                                                                <div class="list-group">
                                                                          {%for tarea in single_tasks %}
                                                                                <div class="list-group-item list-group-item-action">  
                                                                                    <span class="font-weight-bold">Tarea:</span> {{tarea.task__name}}
                                                                                    <a href="task-execute/{{tarea.store_id}}/{{tarea.task_id}}">  <span  class="label label-info float-right"> Ejecutar tarea </span> </a>
                                                                </div>
                                                                          {% endfor %}
                                                    </div>
                                    </div>
                                 
                                </div>
                            </div>  

            </div>
                    
    
        </div>
        
</div>
    
    </div>

    
    <!-- ============================================================== -->
    <!-- End Dashboard Operator -->
    <!-- ============================================================== -->