{% extends 'site/base_dashboard.html' %}

{% block title %}Panel de control{% endblock %}

{% block css %}

{% endblock %}

{% block contentContainer %}

{% if request.user.get_profile == 'Operator' %}
    {% include "dashboard/dashboard_operator.html" %}
{% endif %}

{% if request.user.get_profile == 'Auditor' %}
    {% include "dashboard/dashboard_auditor.html" %}
{% endif %}

{% if request.user.get_profile == 'Administrator' %}
    {% include "dashboard/dashboard_adminitrator.html" %}
{% endif %}

{% if request.user.get_profile == 'Auditor interno' %}
    {% include "dashboard/dashboard_internal.html" %}
{% endif %}

{% endblock %}
{% block javascript %}

<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw.js"></script>
<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw-init.js"></script>
<!-- This is data table -->
<script src="/static/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="/static/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<script>
    $(document).ready(function() {
        if (document.getElementById('table')) {
            $('#table').DataTable({             
                language: {
                    "url": "/static/assets/js/Spanish.json",
                    buttons: {
                        copy: 'Copiar',
                        print: 'Imprimir'
                    }
                },
                pageLength: 7,
                dom: 'Bfrtip',
                order: [],
                buttons:[],
                responsive: true
            });
        }
    });

            $('#nestable').nestable({
                maxDepth: 10,
                collapsedClass:'dd-collapsed'
            });
            $('#nestable').nestable('collapseAll');
    
            
      
    
</script>
{% block dashboard_scripts %}
{% endblock dashboard_scripts %}
{% endblock %}