<!-- ============================================================== -->
<!-- Dashboard Auditor -->
<!-- ============================================================== -->

<link href="/static/assets/node_modules/calendar/dist/fullcalendar.css" rel="stylesheet">
<div class="row"  style="padding: 0">
        <div class="col-12 bg-light border-left">
            <div class="card-body">
                <div class="row">
                    <div class = "col col-lg-2 col-sm-2 col-md-2"><img  class="img-thumbnail" src="/{{ request.user.client.logo }}" alt="user"  ></div>
                    <div class = "col col-lg-10 col-sm-10 col-md-10">
                        <!-- <h4 class="card-title">Tareas para hoy</h4>
                        <h6 class="card-subtitle">Listado de tareas para el dia de hoy</h6> -->
                        <h4 class="card-title">Auditorias programadas</h4>
                        <h6 class="card-subtitle">Listado de auditorias para el mes</h6> 
                    </div>
                </div>
            </div>
            <div class="card-body p-t-0" style="padding: 0">
                <div class="card b-all shadow-none">
                        <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">



                            <div class="calendar" id="calendar"></div>

                          
                        </div>
                    </div>
                </div>
                        {% comment %}
                        <table class="display nowrap table table-hover table-striped table-bordered dataTable" id="table" >
                            <thead class="hidden-sm-down">
                                <tr>
                                    <th>Tarea</th>
                                    <th class="hidden-xs-down hidden-sm-down"><i class="ti-user"></i>Operador</th>
                                    <th class="hidden-xs-down hidden-sm-down">Completa</th>
    
                                    <th class="hidden-xs-down ">Información</th>
                                    <th>Hora de inicio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in task_recurrent %}
                                <tr class="unread" data-task="{{t.state.label}}">
                                    <td class="title" width="30%">
                                        <a href="{{t.state.detail_url}}">{{t.TaskAssignment.task.name}}</a>
                                    </td>
                                    <td class="title">
                                        <a href="user/{{t.TaskAssignment.store.manager.id}}"><small>{{t.TaskAssignment.store.manager.first_name}}</small></a>
                                    </td>
                                    <td class="hidden-xs-down hidden-sm-down" id="a">
                                        {% if t.result.status %}Si{% else %}No{% endif %}
                                    </td>
                                    <td class="hidden-xs-down ">
                                        <div class="row">
                                            <div class="col-md-12 text-truncate">
                                                <i class="ti-alarm-clock"></i> Duración:  {{ t.TaskAssignment.task.get_duration }}
                                            </div>
                                            <div class="col-md-12 text-truncate">
                                                <i class="ti-clipboard"></i> Proyecto:  {{ t.TaskAssignment.task.projects_names }}
                                            </div>
                                            <div class="col-md-12 text-truncate">
                                                {% if t.TaskAssignment.parent %}<i class="ti-clipboard"></i> Tarea padre:  { t.TaskAssignment.parent }}{% endif %}
                                            </div>
                                        </div>
                                    </td>
                             <td class="text-right text-nowrap">
                                {{t.hour|date:'H:i a'}}
                                <div class="hidden-lg-up"><span class="label {{t.state.class}}"> {{t.state.label}} </span></div>
                                <div class="hidden-lg-up"><span class="label {{t.state_audit.class}}"> {{t.state_audit.label}} </span></div>
                             </td>
                         </tr>
                         {% endfor %}
                     </tbody>
                        </table>
                        {% endcomment %}
             </div>
         </div>
     </div>
    </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Dashboard Auditor -->
    <!-- ============================================================== -->

<!--here is-->

