<div class="card">
    <div class="card-body">
        <table class="display nowrap table table-hover table-striped table-bordered dataTable" id="table">
            <thead>
                <tr>
                    <th>Tarea</th>
                    <th>Tipo de tarea</th>
                    <th>Proyecto</th>
                    <th>Tienda</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for asignment in assign_result %}
                    <tr>
                        <td>{{ asignment.task.name }}</td>
                        <td>{{ asignment.task.get_type }}</td>
                        <td>{% firstof asignment.project.name 'Ninguno' %}</td>
                        <td>{{ asignment.store.name }}</td>
                        <td>
                            <a href="/task-audit/{{asignment.id}}" data-toggle="tooltip" data-original-title="Ver ejecución" class="btn btn-info"><i class="mdi mdi-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>