<!-- ============================================================== -->
<!-- Dashboard Operator -->
<!-- ============================================================== -->
<div>
    <iframe
        class="embed-responsive-item"
        style="overflow: hidden; margin-top: 10px; min-height: calc(100vh - 100px); width: 100%"
        src="{{metabase_server}}/public/dashboard/15f5ce96-4e3d-40f9-87bf-1efff91aea66"
        frameborder="0"
        allowtransparency
        onload="iFrameResize({}, this)"
    ></iframe>
</div>
<!-- ============================================================== -->
<!-- End Dashboard Auditor -->
<!-- ============================================================== -->
{% block dashboard_scripts %}
<script src="/static/assets/js/iframeResizer.js"></script>
{% endblock dashboard_scripts%}