
{% extends 'site/base_dashboard.html' %}

{% block title %}Update Task{% endblock %}

{% block contentContainer %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">

                    {%include 'dashboard/message-left-menu.html'%}

                <div class="col-lg-9 col-md-8 bg-light border-left">
                        <div class="card-body p-t-0">
                            <div class="card b-all shadow-none">
                                <div class="inbox-center table-responsive">
                                    <table class="table table-hover no-wrap">
                                        <tbody>
                                            {% for m in messages %}
                                                <tr {% if not m.read %}class="unread"{% endif %}>
                                                    <td class="hidden-xs-down">
                                                        <img src="/{{ m.from_user.avatar }}" alt="user" width="40" class="img-circle mr-1">
                                                        {{ m.from_user }}
                                                    </td>
                                                    <td class="max-texts">
                                                            <a href="/message-view/{{m.id}}/">{{ m.text|slice:":70" }}</a>
                                                    </td>
                                                    <td class="hidden-xs-down">{% if m.attachments.count > 0 %}<i class="fa fa-paperclip"></i>{% endif %}</td>
                                                    <td class="text-right">{{ m.date|date:"M d, Y P" }}</td>
                                                </tr>
                                            {% empty %}
                                                <tr class="p-2 mt-3">
                                                    <td >No tienes mensajes</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/node_modules/calendar/jquery-ui.min.js"></script>
<script src="/static/assets/node_modules/moment/moment.js"></script>
<script src="/static/assets/node_modules/calendar/dist/fullcalendar.min.js"></script>

<script>
console.log(new Date(1995,11,17,3,24,0))
var today = new Date($.now());
var defaultEvents = {{ task|safe }};
</script>

<script src="/static/assets/node_modules/calendar/dist/cal-init.js"></script>

{% endblock %}