
{% extends 'site/base_dashboard.html' %}

{% block title %}Crear mensaje{% endblock %}

{% block contentHeader %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                 {%include 'dashboard/message-left-menu.html'%}
                <div class="col-lg-9 col-md-8 bg-light border-left">




                                        <div class="card b-all shadow-none">
                                            <div class="card-body">
                                                <h3 class="card-title m-b-0">{{message.subject}}</h3>
                                            </div>
                                            <div>
                                                <hr class="m-t-0">
                                            </div>
                                            <div class="card-body">
                                                <div class="d-flex m-b-40">
                                                    <div>
                                                        <a href="javascript:void(0)"><img src="/{{ message.from_user.avatar }}" alt="user" width="40" class="img-circle"></a>
                                                    </div>
                                                    <div class="p-l-10">
                                                        <h4 class="m-b-0">{{ message.from_user.get_fullname }}</h4>
                                                        <small class="text-muted">De: {{ message.from_user.email }} </small>
                                                    </div>
                                                </div>
                                                <p>
                                                    {{ message.text|safe }}
                                                </p>
                                                <div>
                                                    {% for attach in message.attachments.all %}
                                                        <a href="/{{attach.name}}" class="btn btn-link" target="_blank"><i class="ti-clip"></i>Archivo adjunto</a>
                                                    {% endfor %}
                                                </div>
                                                <div>
                                                    {% if message.is_own %}
                                                        <a class="btn btn-success waves-effect waves-light" href="{% url 'message-new' %}?to={{ message.from_user.id }}&subject=Re: {{message.subject}}&reponse_to={{ message.id }}"><i class="mdi mdi-reply"></i>  RESPONDER</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div>
                                                <hr class="m-t-0">
                                            </div>
                                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}
{% endblock %}

{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/node_modules/calendar/jquery-ui.min.js"></script>


{% endblock %}