<div class="col-lg-3 col-md-4">
                    <div class="card-body inbox-panel"><a class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light" href="/message-new/">Nuevo mensaje</a>
                        <ul class="list-group list-group-full">
                            <li class="list-group-item {% if active != 'sent' %}active{% endif %}"> <a href="/inbox"><i class="mdi mdi-gmail"></i> Mensajes </a><span class="badge badge-success ml-auto">{{ messages_inbox }}</span></li>
                            <li class="list-group-item {% if active == 'sent' %}active{% endif %}">
                                <a href="/sent-mail"> <i class="mdi mdi-file-document-box"></i> Enviados </a>
                            </li>
                        </ul>
                    </div>
</div>