
{% extends 'site/base_dashboard.html' %}
{% load widget_tweaks %}
{% block title %}Nuevo mensaje{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/assets/node_modules/html5-editor/bootstrap-wysihtml5.css">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">

                    {%include 'dashboard/message-left-menu.html'%}

                <div class="col-lg-9 col-md-8 bg-light border-left">
                    <div class="card-body">
                        <form method="post" action="" class="dropzone dz-clickable" id="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if subject %}
                                <h3 class="card-title">{{subject}}</h3>
                            {% else %}
                                <h3 class="card-title">Enviar nuevo mensaje</h3>
                            {% endif %}
                            
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label>{{form.to_user.label}}:</label>
                                 {{ form.to_user|attr:"placeholder:A:"|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label>{{form.subject.label}}:</label>
                                {{ form.subject|attr:"placeholder:Asunto:"|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label>{{form.text.label}}:</label>
                                {{ form.text|add_class:"form-control" }}
                            </div>
                            {% comment %} <div class="form-group">
                                <label>{{form.task.label}}:</label>
                                {{ form.task|add_class:"form-control" }}
                            </div> {% endcomment %}
                            <div class="form-group">
                                <label>Adjuntar archivos:</label>
                                <input name="attach" class="form-control-file" type="file" multiple />
                            </div>
                            <button type="submit" class="btn btn-primary m-t-20"><i class="fa fa-envelope-o"></i> Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/node_modules/calendar/jquery-ui.min.js"></script>

<script src="/static/assets/node_modules/html5-editor/wysihtml5-0.3.0.js"></script>
<script src="/static/assets/node_modules/html5-editor/bootstrap-wysihtml5.js"></script>

<script>
    $(document).ready(function() {

        $('.textarea_editor').wysihtml5();

    });
    </script>
{% endblock %}