{% extends 'site/base_dashboard.html' %}

{% block title %}Mi perfil{% endblock %}

{% block contentHeader %}


<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Detalle de Usuario</h4>
                </div>
                
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->

                <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card"> <img class="card-img" src="/static/assets/images/back.jpg" height="456" alt="Card image">
                            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center">
                                <div class="align-self-center"> <img src="/{{ request.user.avatar }}" class="img-circle" width="100">
                                    <h4 class="card-title"> {{ request.user.get_fullname }} </h4>
                                    <h6 class="card-subtitle">{{ request.user.get_profile }} </h6>
                                     </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body"> <small class="text-muted">Email</small>
                                <h6>{{ request.user.email }}</h6> <small class="text-muted p-t-30 db">Teléfono</small>
                                <h6>{% if request.user.mobile is None %} --- {%else%} {{ request.user.mobile }} {%endif%}</h6> <small class="text-muted p-t-30 db">Último ingreso</small>
                                <h6>{{ request.user.last_login }}</h6>
                                <!--<div class="map-box">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                                </div> <small class="text-muted p-t-30 db">Social Profile</small> -->
                               
                            </div>
                        </div>
                    </div>
                  
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7" style="heigth:100%">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab " role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Mi perfil</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                     
                            <div class="tab-pane active" id="settings" role="tabpanel">
                                <div class="card-body">
                                        <form class="form-control-line"  method="post" >
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="col-md-12">Nombres</label>
                                                    <div class="col-md-12">
                                                        {{form.first_name }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Apellidos</label>
                                                    <div class="col-md-12">
                                                        {{form.last_name}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Avatar</label>
                                                    <div class="col-md-12 toTrasnform">
                                                        {{form.avatar}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Teléfono</label>
                                                    <div class="col-md-12">
                                                       {% if form.mobile is None %} --- {%else%} {{ form.mobile }} {%endif%}
                                                    </div>
                                                </div>  
                                                <div class="form-group">
                                                    <label class="col-md-12">Correo</label>
                                                    <div class="col-md-12">
                                                        {{form.email}}
                                                    </div>
                                                </div>                                                    
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-primary btn-lg">ACTUALIZAR</button>
                                                    </div>
                                                </div>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <div class="right-sidebar">
                <div class="slimscrollright">
                    <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                    <div class="r-panel-body">
                        <ul id="themecolors" class="m-t-20">
                            <li><b>With Light sidebar</b></li>
                            <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                            <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                            <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme working">7</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                            <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                        </ul>
                        <ul class="m-t-20 chatonline">
                            <li><b>Chat option</b></li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>







    








{% endblock %}

{% block contentContainer %}
        
{% endblock %}

{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){


        $("input").addClass("form-control");
        $("select").addClass("form-control");
        $("textarea").addClass("form-control");
        $("select").select2();
        document.getElementsByTagName("form")[0].setAttribute("enctype", "multipart/form-data");
});
$(document).ready(function(){
    var elems = Array.prototype.slice.call(document.querySelectorAll('#avatar-clear_id'));
    $('#avatar-clear_id').each(function() {
        new Switchery($(this)[0], $(this).data());
    });

});

</script>
{% endblock %}