<div class="row">
    <div class="col justify-content-end text-right my-sm-4">
        <a href="/message-new/?subject=Reportar problema ejecutando tarea&ta={{  ta.id }}" class="btn btn-outline-danger">Reportar inconveniente con tarea</a> 
    </div>                                                                          
</div>