{% extends 'site/base_dashboard.html' %}
{% load widget_tweaks %}
{% block title %}Update Task{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/assets/node_modules/html5-editor/bootstrap-wysihtml5.css">
<div class="card" id="app">
    <div class="card-body">
        {{ form.errors }}
        <h2>Qualify execution</h2>
        <form method="post" class="form-horizontal">{% csrf_token %}
            <div class="form-group row">
                <div class="col-3">
                    <label class="col-form-label" for="exampleInputEmail1">{{form.audit_result.label}}</label>
                </div>
                <div class="col-9">
                    {{ form.audit_result|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label class="col-form-label" for="exampleInputEmail1">{{ form.audit_score.label }}</label>
                </div>
                <div class="col-9">
                    {{ form.audit_score|add_class:"form-control" }}
                </div>
            </div>
            <input type="submit" value="SAVE" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/node_modules/calendar/jquery-ui.min.js"></script>

<script src="/static/assets/node_modules/html5-editor/wysihtml5-0.3.0.js"></script>
<script src="/static/assets/node_modules/html5-editor/bootstrap-wysihtml5.js"></script>

{% endblock %}