<div class="modal" tabindex="-1" role="dialog" id="create_zone_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Crear nueva Zona</h5>
      </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="zone_name">Nombre de la zona:</label>
                <input id="zone_name" type="text" class="form-control" v-model="zone_name" />
            </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" @click="save" :disabled="submitting">
            <span v-if="submitting">Enviando...</span>
            <span v-if="!submitting">Guardar</span>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>