{% extends 'site/base_dashboard.html' %}
{% load widget_tweaks %}
{% block title %}Asignar tareas{% endblock %}

{% block contentContainer %}
{% block css %}
{% endblock %}
{{ form.errors }}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Asignar tareas a tiendas</h4>
    </div>
</div>
<div class="card">
    <div class="card-body" id="assign-tasks-app">
        {% if empty %}
        <div>No se ha creado ninguna tarea.</div>
        {% else %}
        <div class="my-4">
            <div class="row">
                <div class="div">
                    <div class="subtitle mb-2">Por país:</div>
                </div>
            </div>
            <div class="my-2">  
                <div v-if="countries.length == 0">No se ha creado ningún país</div>
                <div class="form-group row d-flex align-items-center" v-for="country in countries">
                    <input type="checkbox" class="col-4 js-switch" :value="country.id" :id="'country_' + country.id" name="option1" @change="handleChangeCountry">
                    <label class="form-check-label col-8" :for="'country_' + country.id">
                        Todas en <span v-text="country.name"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row">
                <div class="div">
                    <div class="subtitle mb-2">Por zona:</div>
                </div>
            </div>
            <div v-if="zones.length == 0">No se ha creado ninguna zona</div>
            <div class="my-2">
                <div class="form-group row d-flex align-items-center" v-for="zone in zones">
                    <input type="checkbox" class="col-4 js-switch" :id="'zone_' + zone.id" :value="zone.id" name="option1" @change="handleChangeZone">
                    <label class="form-check-label col-8" :for="'zone_' + zone.id">
                        Todas en <span v-text="zone.name"></span>
                    </label>
                </div>
            </div>
        </div>
        <form method="post" class="m-t-20 row">{% csrf_token %}
            <table class="table table-hover table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th scope="col">Asignar:</th>
                        <th scope="col">Nombre de la tienda:</th>
                        <th scope="col">Dirección:</th>
                        <th scope="col">País:</th>
                        <th scope="col">Zona:</th>
                    </tr>
                </thead>
                {% for store in object_list %}
                    <tbody>
                        <tr>
                            <th scope="row">
                            <input type="checkbox" data-zone="{{ store.zone.id }}" data-country="{{ store.location.id }}" name="assing_to_store" value="{{ store.id }}" {% if store.id in asigned_stores %}checked{% endif %} class="js-switch" /></th>
                            <td>{{ store.name }}</td>
                            <td>{{ store.addres }}</td>
                            <td>{{ store.location.name }}</td>
                            <td>{{ store.zone.name }}</td>
                        </tr>
                    </tbody>
                {% empty %}
                    <tbody>
                        <tr>
                            <td>No se han creado tiendas</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            <button class="btn btn-primary m-t-20 m-b-40">Asignar</button>
        <form>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    var countries = JSON.parse('{{ countries | safe }}')
    var zones = JSON.parse('{{ zones | safe }}')
    var app = new Vue({
        el: '#assign-tasks-app',
        data: {
            countries: countries,
            zones: zones,
        },
        methods: {
            handleChangeCountry: function(event) {
                if (event.target.checked) {
                    $('[data-country=' + event.target.value + ']:not(:checked)').click();
                } else {
                    $('[data-country=' + event.target.value + ']:checked').click();
                }
            },
            handleChangeZone: function(event) {
                if (event.target.checked) {
                    $('[data-zone=' + event.target.value + ']:not(:checked)').click();
                } else {
                    $('[data-zone=' + event.target.value + ']:checked').click();
                }
            },
        },
    })
</script>
{% endblock %}