{% extends 'site/base_dashboard.html' %}
{% load widget_tweaks %}
{% block title %}Task{% endblock %}
{% load task_extras %}
{% block contentContainer %}

{% block css %}
<link rel="stylesheet" href="/static/assets/node_modules/dropify/dist/css/dropify.min.css" />
<link rel="stylesheet" href="/static/assets/node_modules/wizard/steps.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/node_modules/multiselect/css/multi-select.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/node_modules/select2/dist/css/select2.min.css" />
{% endblock %}

{{ form.errors  }}

<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">
			{% if update %}Actualizar proyectos{% else %}Nuevo proyecto{% endif %}
		</h4>
	</div>
</div>
<div class="card">
	<div class="card-body wizard-content">
		<div id="wizard-form">
			<form
				action=""
				id="project-form"
				method="post"
				enctype="multipart/form-data"
				class="form-horizontal validation-wizard wizard-circle wizard clearfix"
			>
				<h6>Información del proyecto</h6>
				<section class="mt-4">
					<div class="form-group row">
						<label for="{{form.name.label}}" class="col-12 col-md-2 col-form-label">{{form.image.label}}</label>
						<div class="col-12 col-md-2">
							{% with 'data-default-file:/'|concat_string:form.image.value as default_image %}
								{{ form.image|add_class:"dropify"|attr:default_image }}
							{% endwith %}
						</div>
						{% if form.image.errors %}
						<div style="color: danger">
							{{ form.image.error }}
						</div>
						 {% endif %}
					</div>
					<div class="form-group row">
						<label for="{{form.name.label}}" class="col-12 col-md-2 col-form-label">{{form.name.label}}</label>
						<div class="col-12 col-md-10">
							{{ form.name|attr:"placeholder:Nombre"|add_class:"form-control" }}
						</div>
						{% if form.name.errors %}
						<div style="color: danger">
							{{ form.name.error }}
						</div>
						 {% endif %}
					</div>
					<div class="form-group row">
						<label for="{{form.name.label}}" class="col-12 col-md-2 col-form-label">{{form.description.label}}</label>
						<div class="col-12 col-md-10">
							{{ form.description|attr:"placeholder:Descripción del proyecto"|add_class:"form-control" }}
						</div>
						{% if form.description.errors %}
						<div style="color: danger">
							{{ form.description.error }}
						</div>
						 {% endif %}
					</div>
					<div class="form-group row">
						<label for="{{form.name.label}}" class="col-12 col-md-2 col-form-label">{{form.start_date.label}}</label>
						<div class="col-12 col-md-10">
							{{ form.start_date|add_class:"form-control bootstrapMaterialDatePicker" }}
						</div>
						{% if form.start_date.errors %}
						<div style="color: danger">
							{{ form.start_date.error }}
						</div>
						 {% endif %}
					</div>
					<div class="form-group row">
						<label for="{{form.name.label}}" class="col-12 col-md-2 col-form-label">{{form.end_date.label}}</label>
						<div class="col-12 col-md-10">
							{{ form.end_date|add_class:"form-control bootstrapMaterialDatePicker" }}
						</div>
						{% if form.end_date.errors %}
						<div style="color: danger">
							{{ form.end_date.error }}
						</div>
						 {% endif %}
					</div>
					<div class="form-group row">
						<label for="{{form.name.label}}" class="col-12 col-md-2 col-form-label">{{form.active.label}}</label>
						{% if form.active.errors %}
						<div style="color: danger">
							{{ form.active.error }}
						</div>
						{% endif %}
						<div class="col-12 col-md-10">
							{{ form.active }}
						</div>
					</div>
					{% if update %}
					{% else %}
					<input type="hidden" name="active" id="id_active" value="true" >
					{% endif %}
					<input type="hidden" name="owner" id="id_owner" value="{{ request.user.id }}" >
					{% csrf_token %}
				</section>
				<h6>Asignar tareas</h6>
				<section class="mt-4">
					<div class="form-group">
						<div class="row mb-3">
							<div class="col text-right">
									<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add-task"><i class="fa fa-plus"></i> Crear tarea</button>
							</div>
						</div>
						<label class="col-form-label">Tareas</label>
						<div class="row ">
							<div class="col">
								<select name="selected_tasks" id="multiselect" class="form-control" multiple="multiple">
									<option v-for="st in selected_tasks" :value="st.id" v-text="st.name"></option>
									<option v-for="at in all_tasks" :value="at.id" v-text="at.name"></option>
								</select>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col">
								<button type="button" id="multiselect_rightAll" class="btn btn-info">Añadir Todas las tareas</button>
								<button type="button" id="multiselect_leftAll" class="btn btn-danger">Remover Todas las tareas</button>
							</div>
						</div>
					</div>
				</section>
				<h6>Asignar a tiendas</h6>
				<section class="mt-4">
					<div class="form-group row">
						<div class="col">
							<label for="">Asignación por país</label>
						</div>
						<div class="col-12 col-md-10">
							<select class="select2-multiple form-control" id="country" multiple="multiple">
								{% for c in countries %}
									<option value="{{c.id}}">{{c.name}}</option>
								{% empty %}
									<option value="">No se han creado Paises</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<label for="">Asignación por zona</label>
						</div>
						<div class="col-12 col-md-10">
							<select class="select2-multiple form-control" id="zone" multiple="multiple">
								{% for z in zones %}
									<option value="{{z.id}}">{{z.name}}</option>
								{% empty %}
									<option value="">No se han creado Zonas</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row mb-5">
						<div class="col">
							<table class="display table table-hover table-bordered dataTable" style="width: 100%">
								<thead>
									<tr>
										<th>Habilitar</th>
										<th>Nombre de la tienda</th>
										<th>Gerente</th>
										<th>País</th>
										<th>Zona</th>
									</tr>
								</thead>
								<tbody>
	
									{% for store in stores %}
										<tr>
											<td>
												<input class="switch" data-color="#009efb" type="checkbox" data-country="{{store.location.id}}" data-zone="{{store.zone.id}}" value="{{store.id}}" name="stores" {% if store.id in selected_stores %}checked{% endif %}/>
											</td>
											<td>
												{{store.name}}
											</td>
											<td>
												{{store.manager}}
											</td>
											<td>
												{{store.location}}
											</td>
											<td>
												{% firstof store.zone 'Sin asignar' %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-add-task">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Añadir tarea</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" id="modal-body">
		</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/assets/node_modules/multiselect/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="/static/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
<script src="/static/assets/node_modules/wizard/jquery.validate.min.js"></script>
<script src="/static/assets/node_modules/wizard/jquery.steps.js"></script>
<script src="/static/assets/node_modules/wizard/methods_es.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js"></script>
<script src="/static/assets/node_modules/switchery/dist/switchery.min.js"></script>
<script src="/static/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script>
	try {
		var selected_tasks = JSON.parse('{{selected_tasks | safe}}');
		var all_tasks = JSON.parse('{{unselected_tasks | safe}}');
	} catch(ex) {
		var selected_tasks = [];
		var all_tasks = [];
	}

	$(document).ready(function() {
		setTimeout(function() {
			$multiselect = $('#multiselect');
			$multiselect.multiSelect({
				cssClass: "multiselect-w100",
				afterInit: function() {
					$multiselect.multiSelect('select', selected_tasks.map(function(el) { return el.id.toString() }))
				}
			});
			$('#multiselect_rightAll').click(function() {
				$multiselect.multiSelect('select_all');
				return false;
			});
			$('#multiselect_leftAll').click(function() {
				$multiselect.multiSelect('deselect_all');
				return false;
			});
		}, 200)

		
		var form = $(".validation-wizard").show();
    
    $(".validation-wizard").steps({
		headerTag: "h6",
		labels: {
			cancel: "Cancelar",
			current: "Paso actual:",
			pagination: "Paginación",
			finish: "Finalizar",
			next: "Siguiente",
			previous: "Anterior",
			loading: "Cargando..."
		},
		enableAllSteps: true,
		bodyTag: "section",
		transitionEffect: "fade",
		titleTemplate: '<span class="step">#index#</span> #title#',
		onStepChanging: function (event, currentIndex, newIndex) {
            return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
        },
		onFinishing: function (event, currentIndex) {
            return form.validate().settings.ignore = ":disabled", form.valid()
        },
		onFinished: function (event, currentIndex) {
			$('#project-form').submit();
        }
    }), $(".validation-wizard").validate({
        ignore: "input[type=hidden]",
        errorClass: "text-danger",
        successClass: "text-success",
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass)
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass)
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element)
		},
		rules: {
            email: {
                email: !0
            }
        }
    })
	})

	var app = new Vue({
		el: '#project-form',
		data: {
			selected_tasks: selected_tasks,
			all_tasks: all_tasks,
		},
		mounted: function() {
			$.get('/task-administrator-update-modal', function(res) {
				$('#modal-body').html(res);
			})
		}
	}) 

	$(function() {
		$('.bootstrapMaterialDatePicker').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
		$('.dropify').dropify();
		$('.select2-multiple').select2({
			width: '100%',
		});
		new Switchery(document.getElementById('id_active'));
		$('#country').on('select2:select', function (e) {
			var data = e.params.data;
			$('[data-country=' + data.id + ']').click();
		});
		$('#zone').on('select2:select', function (e) {
			var data = e.params.data;
			$('[data-zone=' + data.id + ']').click();
		});
		var elems = Array.prototype.slice.call(document.querySelectorAll('.switch'));

		elems.forEach(function(html) {
			var switchery = new Switchery(html);
		});

		$('.table').DataTable({
			dom: 'Bfrtip',
			bLengthChange: true,
			buttons: [
			],
			responsive: true, 
			order: [],
			displayLength: 20,
			language: {
				url: "/static/assets/js/Spanish.json",
				buttons: {
					copy: 'Copiar',
					print: 'Imprimir'
				},
			},
		});
	})
</script>
{% endblock %}