
{% extends 'site/base_dashboard.html' %}

{% block title %}Gestionar proyectos{% endblock %}

{% block contentContainer %}
<div>
	<div class="row page-titles">
		<div class="col-5 align-self-center">
			<h4 class="text-themecolor">Proyectos</h4>
		</div>
		<div class="col-7 align-self-center text-right">
			<div class="d-flex justify-content-end align-items-center">
				<a href="/project-administrator-new/" type="button" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Crear Proyecto</a>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="p-t-0">
				<div class="card b-all shadow-none">
						<table class=" display nowrap table table-hover table-striped table-bordered dataTable" id="table" width="100%" >
							<thead>
								<tr>
									<th>Fotografía</th>
									<th>Nombre</th>
									<th>Estado</th>
									<th>Creado por</th>
									<th>Fecha de inicio</th>
									<th>Fecha de finalización</th>
									<th>T. en proyecto</th>
									<th># Tiendas</th>
									<th>Acciones</th>
								</tr>
							</thead>

							<tbody>
								{% for p in project %}
								<tr  data-task="{{t.state.label}}">
									<th class="text-center">
										<img src="/{{ p.image }}" alt="" width="50px" height="50px" class="img-circle" style="object-fit: cover;">
									</th>
									<td >
										{{ p.name }}
									</td>
									<td >
										{% if p.active %}Activo{% else %}Inactivo{% endif %}
									</td>
									<td>
										{{ p.owner }}
									</td>
									<td>
										{{ p.start_date }}
									</td>
									<td>
										{{ p.end_date }}
									</td>
									<td>
										{{ p.task_assignments.count }}
									</td>
									<td>
										{{ p.stores.count }}
									</td>
									<td>
										<a class="btn btn-info" href="{% url 'project_administrator_update' pk=p.id %}" data-toggle="tooltip" data-original-title="Editar"><i class="mdi mdi-lead-pencil"></i></a>
										<a class="btn btn-danger" href="{% url 'project_administrator_remove' pk=p.id %}" data-toggle="tooltip" data-original-title="Borrar"><i class="mdi mdi-delete-forever"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
				</div>
			</div>
		</div>

	</div>

</div>

</div>
</div>



{% endblock %}





{% block javascript %}


<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw.js"></script>
<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw-init.js"></script>
<!-- This is data table -->
<script src="/static/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="/static/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>

<script>
	$(document).ready(function() {
		$('#table').DataTable({
			dom: 'Bfrtip',
			bLengthChange: true,
			buttons: [
			],
			responsive: true, 
			order: [],
			displayLength: 20,
			language: {
				url: "/static/assets/js/Spanish.json",
				buttons: {
					copy: 'Copiar',
					print: 'Imprimir'
				},
			},
		});
	})

    
</script>

{% endblock %}