
{% extends 'site/base_dashboard.html' %}

{% block title %}Update Task{% endblock %}

{% block content %}
<iframe    src=""    frameborder="0"    width="100%"    height="600"    allowtransparency></iframe>
{% endblock %}
{% block javascript %}
<script src="/static/assets/js/pages/jasny-bootstrap.js"></script>
<script src="/static/assets/node_modules/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/node_modules/calendar/jquery-ui.min.js"></script>

{% endblock %}

