
{% extends 'site/base_dashboard.html' %}

{% block title %}Gestionar tiendas{% endblock %}

{% block contentContainer %}


<div class="container-fluid">
		<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h4 class="text-themecolor">Tiendas</h4>
				</div>
				<div class="col-md-7 align-self-center text-right">
					<div class="d-flex justify-content-end align-items-center">
						<a href="/store-administrator-new/"  type="button" class="btn btn-info  d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> CREAR TIENDA</a>
					</div>
				</div>
			</div>
		<div class="row">
		<div class="col-12">

	<div class="col bg-light border-left card">
		<div class="card-body">
			<div class="card-body p-t-0" style="padding: 0">
				<div class="card b-all shadow-none">
						<table class="display nowrap table table-hover table-striped table-bordered dataTable no-footer dtr-inline" id="table" width="100%" >
							<thead>
								<tr>
									<th>Imagen</th>
									<th>Nombre de la tienda</th>
									<th>Ubicación</th>
									<th>Regional</th>
									<th>Gerente</th>
									<th  class="text-center">Acciones</th>
								</tr>
							</thead>

							<tbody>
								{% for s in store %}
								<tr >
									<td >
										<img src="/{{s.image}}" alt="{{s.name}}" class="img-circle" width="30" height="30">
									</td>
									<td >
										{{ s.name }}
									</td>
									<td>
										{% firstof s.location 'Sin especificar' %}
									</td>
									<td>
										{% firstof s.auditor 'Sin asignar' %}
									</td>
									<td>
										{% firstof s.manager 'Sin asignar' %}
									</td>
									<td  class="text-center">
										<a href="/store-administrator-update/{{ s.id }}/" class="btn btn-warning m-r-10" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse"></i> </a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

				</div>
			</div>
		</div>

	</div>

</div>

</div>
</div>
</div>
</div>



{% endblock %}



{% block javascript %}


<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw.js"></script>
<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw-init.js"></script>
<!-- This is data table -->
<script src="/static/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="/static/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<script>
    $(document).ready(function() {
		$('#table').DataTable({
			dom: 'Bfrtip',
			bLengthChange: true,
			buttons: [
			'copy', 'excel', 'pdf', 'print'
			],
			responsive: true, 
			order: [],
			"displayLength": 7,
			language: {
				"url": "/static/assets/js/Spanish.json"
				},
		});
  	})
</script>

{% endblock %}