{% extends 'site/base_dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load task_extras %}
{% block title %}Task{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/store.css' %}">
{% endblock %}
{% block contentHeader %}
{% if form.errors%}  
<div class="alert alert-danger">
	{{ form.errors }}
</div>
{% endif %}
<div class="page-wrapper" >
	<div class="container-fluid">

		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-themecolor">
					{% if update %}
					Actualizar tienda
					{% else %}
					Crear tienda
					{% endif %}
				</h3>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body" style="padding-top:1px;">
			<div class="row">
				<div class="col-md-12">
					<form method="post" class="form-horizontal" enctype="multipart/form-data">
						<div class="form-group m-t-40 row">
							<label for="{{form.image.label}}" class="col-md-2 col-sm-12 col-form-label">{{form.image.label}}</label>
							<div class="col-md-2 col-sm-12 ">
								{% with 'data-default-file:/'|concat_string:form.image.value as default_image %}
									{{ form.image|add_class:"form-control dropify"|attr:default_image }}
								{% endwith %}
							</div>
							{% if form.image.errors %}
							<div style="color: red">
								{{ form.image.error }}
							</div>
							{% endif %}
						</div>
						<div class="row">
							<div class="form-group m-b-40 col-md-6">
								<label for="{{form.name.label}}">{{form.name.label}}</label>
								{{ form.name|attr:"autocomplete:off"|add_class:"form-control" }}
								{% if form.name.errors %}
								<div style="color: danger">
									{{ form.name.error }}
								</div>
								{% endif %}
							</div>
							<div class="form-group m-b-40 col-md-6">
								{{form.media}}
							</div>
							<div class="form-group m-b-40 col-md-6">
								<label for="{{form.email.label}}">{{form.email.label}}</label>
								{{ form.email|attr:"autocomplete:off"|add_class:"form-control" }}
								{% if form.email.errors %}
								<div style="color: danger">
									{{ form.email.error }}
								</div>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="{{form.coords.label}}">{{form.coords.label}}</label>
								{{form.coords}}
								{% if form.coords.errors %}
								<div style="color: danger">
									{{ form.coords.error }}
								</div>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="form-group m-b-40 col-md-6">
								<label for="{{form.phone.label}}">{{form.phone.label}}</label>
								{{ form.phone|attr:"autocomplete:off"|add_class:"form-control" }}
								{% if form.phone.errors %}
								<div style="color: danger">
									{{ form.phone.error }}
								</div>
								{% endif %}
							</div>
							<div class="form-group m-b-40 col-md-6">
								<label for="{{form.location.label}}">{{form.location.label}}</label>
								{{ form.location|attr:"autocomplete:off"|add_class:"form-control s3" }}
								{% if form.location.errors %}
								<div style="color: danger">
									{{ form.location.error }}
								</div>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="form-group m-b-40 col-md-6 focused" id="create-store">
								<label for="{{form.zone.label}}">{{form.zone.label}}</label>
								<select name="{{form.zone.name}}" class="form-control" v-model="selected_zone">
									<option selected v-if="zones.length != 0">----</option>
									<option v-if="zones.length == 0">No se han añadido zonas</option>
									<option v-for="zone in zones" :value="zone.id" v-text="zone.name"></option>
								</select>
								<a data-toggle="modal" href="#" class="btn btn-link btn-sm" data-target="#create_zone_modal">AÑADIR ZONA</a>
								{% include "administrator/add_zone_modal.html" %}

								{% if form.zone.errors %}
								<div style="color: danger">
									{{ form.zone.error }}
								</div>
								{% endif %}
							</div>
							<div>
								
							</div>
							<div class="form-group m-b-40 col-md-6">
								<label for="{{form.addres.label}}">{{form.addres.label}}</label>
								{{ form.addres|attr:"autocomplete:off"|add_class:"form-control" }}
								{% if form.addres.errors %}
								<div style="color: danger">
									{{ form.addres.error }}
								</div>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="form-group m-b-40 col-md-6">
								<label for="{{form.manager.label}}">{{form.manager.label}}</label>
								{{ form.manager|attr:"autocomplete:off"|add_class:"form-control s2" }}
								{% if form.manager.errors %}
								<div style="color: danger">
									{{ form.manager.error }}
								</div>
								{% endif %}
							</div>
							<div class="form-group m-b-40 col-md-6">
								<label for="{{form.auditor.label}}">{{form.auditor.label}}</label>
								{{ form.auditor|attr:"autocomplete:off"|add_class:"form-control s1" }}
								{% if form.auditor.errors %}
								<div style="color: danger">
									{{ form.auditor.error }}
								</div>
								{% endif %}
							</div>
						</div>
						{% if update %}
						<div class="form-group m-t-40 m-b-40 row">
							<div class="form-check checkbox ">

								{{form.active|attr:"data-color:#2EA08C"|attr:"data-size:small"|add_class:"js-switch2 col-2"}}
								{{form.active.label}}

							</div>
							{% if form.active.errors %}
							<div style="color: red">
								{{ form.active.error }}
							</div>
							{% endif %}
						</div>
						{% else %}
						<input type="hidden" name="active" id="id_active" value="true">
						{% endif %}
						{% csrf_token %}
						<div class="row">
							<!--Col row master-->
							<div class="col-12 ">
								<!--Col izq-->
								<div>
									<div>

										<div class="row">
											<div class="col-md-12">
												<button class="btn btn-primary waves-effect waves-light  m-r-10" type="submit">{% if initial_files %}Actualizar{% else %}Guardar{% endif %}
												</button>
												<a href="{% url 'store_administrator' %}">
													<button class="btn btn-inverse waves-effect waves-light" type="button">Cancelar</button>
												</a>
											</div>
										</div>

									</div>
									<!--Card Body-->
								</div>
								<!--Card-->
							</div>
							<!--Col submitsq-->
						</div>
						<!--Col row master-->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>


{% endblock %}

{% block contentContainer %}

{% endblock %}


{% block javascript %}
<script>
	$(document).ready(function () {

		var initialZones = JSON.parse('{{zones|safe}}');
		var app = new Vue({
			el: '#create-store',
			data: {
				zones: initialZones,
				zone_name: '',
				submitting: false,
				selected_zone: '{{form.zone.value}}',
			},
			methods: {
				save: function () {
					var t = this;
					t.submitting = true;
					$.post('/store/location/', {
						name: t.zone_name,
						type: "Zone",
					})
						.then(function (data) {
							t.zones.push(data);
							t.selected_zone = data.id;
							t.submitting = false;
							$('#create_zone_modal').modal('hide');
						})
						.catch(function (err) {
							t.submitting = false;
							alert("Error creando sector");
						})
				},
				proxyImageClick: function () {
					alert("pasa")
					var $imageField = $('#imageField');
					$imageField.click()
				},
				readURL: function ($input, $displayEl) {
					if ($input.files && $input.files[0]) {
						var reader = new FileReader();
						reader.onload = function (e) {
							$displayEl.attr('src', e.target.result);
						}
						reader.readAsDataURL($input.files[0]);
					}
				},
				handleChangeImage: function (event) {
					var $imageFieldVisible = $('#imageFieldVisible');
					this.readURL(event.target, $imageFieldVisible);
				}
			}
		})
	})

	$(document).ready(function () {
		jQuery('.s1 option:first').text("");
		jQuery('.s2 option:first').text("");
		jQuery('.s3 option:first').text("");

	});

	$(document).ready(function () {
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch2'));
		$('.js-switch2').each(function () {
			new Switchery($(this)[0], $(this).data());
		});

	});
</script>
<script src="/static/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
<script src="/static/assets/node_modules/gmaps/gmaps.min.js"></script>
<script src="/static/assets/node_modules/gmaps/jquery.gmaps.js"></script>
<script>
	$(function () {
		$('.dropify').dropify({
			messages: {
				default: 'Subir fotografía',
				replace: 'Replazar',
				remove: 'Remover',
				error: 'Error procesando la imagen'
			}
		});
	})
</script>
{% endblock %}