{% load widget_tweaks %}
{% if not is_audit %}
    <div class="form-group m-t-40 row">
        <label for="{{form.instructions.label}}" class="col-12 col-md-2 col-form-label">{{form.instructions.label}}</label>
        <div class="col-12 col-md-10">
            {{ form.instructions|add_class:"form-control" }}
        </div>
        {% if form.instructions.errors %}
        <div class="invalid-feedback">
            {{ form.instructions.error }}
        </div>
         {% endif %}
    </div>
{% endif %}
    <h3 class="box-title mt-5 mt-2">Tipo de tarea</h3>
    {% if not is_audit %}
        <div class="form-group m-t-40 row">
            <label for="{{form.type.label}}" class="col-12 col-md-2 col-form-label">{{form.type.label}}</label>
            <div class="col-12 col-md-10">
                {{ form.type|add_class:"form-control"|attr:"v-model:type"|attr:"@change:onChangeType" }}
            </div>
            {% if form.type.errors %}
            <div class="invalid-feedback">
                {{ form.type.error }}
            </div>
             {% endif %}
        </div>
    {% else %}
        <input hidden name="{{ form.type.name }}" value="form" />
    {% endif %}
    <div v-if="type == 'form'" class="list-group col-12 offset-md-2 col-md-10 m-t-20 bounceInOut animated">
        <div id="add-new-field-form" class="m-t-40 form-horizontal">
            <div class="row">
                <div class="col-6">
                    <div class="marvel-device iphone8plus black">
                        <div class="top-bar"></div>
                        <div class="sleep"></div>
                        <div class="volume"></div>
                        <div class="camera"></div>
                        <div class="sensor"></div>
                        <div class="speaker"></div>
                        <div class="screen">
                            <!-- Content goes here -->
                            <div>
                                <div v-for="(question, index) in addedQuestions" class="list-group-item">
                                    <div class="row align-items-center">
                                        <label class="col-12 col-md-4 col-form-label">[[ question.label ]]</label>
                                        <div class="col-11 col-md-7">
                                            <input
                                                v-if="question.input_type == 'open-ended-question' || question.input_type == 'number'"
                                                disabled
                                                class="form-control"
                                                v-bind:placeholder="question.input_type == 'open-ended-question' ? 'Respuesta corta' : 'Numero'"
                                            />
                                            <textarea
                                                v-if="question.input_type == 'textarea'"
                                                class="form-control"
                                                disabled
                                            ></textarea>
                                            <input
                                                type="text"
                                                v-if="question.input_type == 'time'"
                                                disabled
                                                class="form-control"
                                                placeholder="00:00"
                                            />
                                            <div>
                                                <input
                                                    type="checkbox"
                                                    v-if="question.input_type == 'checkbox'"
                                                    disabled
                                                />
                                            </div>
                                            <div v-if="question.input_type == 'multiple-choice'">
                                                <div v-for="choice in getChoices(question)">
                                                    <div class="custom-control custom-radio">
                                                        <input disabled name="demo-form-check" type="radio" class="custom-control-input" v-bind:value="choice" />
                                                        <label class="custom-control-label">[[choice]]</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1" @click="removeQuestion(index)">
                                            <i class="ti-close"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home"></div>
                        <div class="bottom-bar"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col">
                        <h4 class="title mb-5">Añadir campo</h4>
                        <div class="form-group">
                            <label for="label" class="control-label">Tipo de pregunta:</label>
                            <select @change="validate" v-bind:class="['form-control', { 'is-invalid': errors.input_type }]" v-model="input_type" name="input_type" placeholder="label">
                                <option value="open-ended-question">Respuesta corta</option>
                                <option value="multiple-choice">Selección multiple</option>
                                <option value="number">Número</option>
                                <option value="textarea">Respuesta larga</option>
                                <option value="time">Hora</option>
                                <option value="checkbox">Si/No</option>
                            <select>
                            <div class="invalid-feedback" v-if="errors.input_type">[[ errors.input_type ]]</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group m-t-40">
                            <label for="label" class="control-label">Pregunta:</label>
                            <input @keyup="validate" v-bind:class="['form-control', { 'is-invalid': errors.label }]" name="label" v-model="label" placeholder="Pregunta" />
                            <div class="form-control-feedback invalid-feedback" v-if="errors.label">[[ errors.label ]]</div>
                        </div>
                    </div>
                    <div class="form-group m-t-40 row" v-if="isMultiChoice">
                        <label for="label" class="col-2 col-form-label">Opciones:</label>
                        <div class="col-10">
                            <input
                                v-bind:class="['form-control']"
                                v-model="temp_option"
                                name="options"
                                placeholder="Opción n"
                                type
                            />
                            <a class="btn btn-secondary" style="margin: 10px 0" @click="addOption">Añadir una opción</a>
                            <div v-for="option in arrayOptions" style="margin: 10px 0">
                                <div class="custom-control custom-radio">
                                    <input disabled type="radio" class="custom-control-input" />
                                    <label class="custom-control-label">[[option]]</label>
                                </div>
                            </div>
                            <div class="invalid-feedback" v-if="errors.options">[[ errors.options ]]</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group m-t-40">
                            <label for="label" class="control-label mr-3">
                                Campo opcional:
                            </label>
                            <input type="checkbox" v-model="optional" class="js-switch-1" />
                        </div>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-info" @click="submit"><i class="mdi mdi-plus-box"></i> Añadir pregunta a formulario</button>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <input type="hidden" name="active" id="id_active" value="true" >
    <!-- QUESTIONS INPUTS-->
    <input v-for="(question, index) in addedQuestions" type="hidden" v-bind:name="'form_fields[]'" v-bind:value="JSON.stringify(question)" />
    <!-- END QUESTIONS INPUTS-->
    <input type="hidden" name="owner" id="id_owner" value="{{ request.user.id }}" >
    {% csrf_token %}
    <input type="submit" @click="createTask" value="{% if update %}Actualizar{% else %}Guardar{% endif %}" class="btn btn-primary mt-5" >
