{% extends 'site/base_dashboard.html' %}
{% load widget_tweaks %}

{% block css %}
<style type="text/css">
.select2-selection__choice {
     color: #fff !important;
     background-color: #009efb !important;
}

.select2-selection__choice__remove {
     color: #fff !important;
     background-color: #009efb !important;
}
</style>
<link rel="stylesheet" href="/static/assets/css/devices.css-master/assets/devices.min.css">
{% endblock %}

{% block contentContainer %}
{{ form.errors  }}
<div id="vue-app">
	<div class="card">
		<div class="card-body">
	<ul class="nav nav-tabs customtab" role="tablist">
	{% if not is_audit %}
		<li class="nav-item"> <a class="nav-link {% if 'Daily' == form.periodicity.value  %} active {% endif %}" data-toggle="tab" href="#navpills-1" role="tab" aria-selected="true"><span><span>Diaria</span></a> </li>
		<li class="nav-item"> <a class="nav-link {% if 'Monthly' == form.periodicity.value  %} active {% endif %}" data-toggle="tab" href="#navpills-2" role="tab" aria-selected="false"><span><span >Mensual</span></a> </li>
		<li class="nav-item"> <a class="nav-link {% if 'Unique' == form.periodicity.value  %} active {% endif %}" data-toggle="tab" href="#navpills-3" role="tab" aria-selected="false"><span><span >Única</span></a> </li>
	{% endif %}
	</ul>
		<div>
			<div>
			<div class="tab-content br-n pn">
				{% include "administrator/task-administrator-tab1.html" %}
				{% include "administrator/task-administrator-tab2.html" %}
				{% include "administrator/task-administrator-tab3.html" %}
			</div>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
{% block javascript %}
<script src="/static/assets/node_modules/tinymce/tinymce.min.js"></script>
<script>
	var start_hour = '{{form.start_hour.value}}';
    var end_hour = '{{form.end_hour.value}}';
    var task_type = '{% if is_audit %}form{% else %}{{ form.type.value }}{% endif %}';
    try {
        var addedQuestions = JSON.parse('{{fields|safe}}');
    } catch(ex) {
        var addedQuestions = [];
    }
</script>
<script src="/static/assets/js/vue-components.js"></script>
<script type="text/javascript">
	function loadJqueryPlugins() {
		setTimeout(function() {
			$(document).ready(function() {
				$('.js-example-basic-multiple').select2();
			});
			$('.bootstrapMaterialDatePicker').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
			$('.timepicker').bootstrapMaterialDatePicker({ format: 'HH:mm', time: true, date: false, okText: 'Establecer', clearText: 'Limpiar', cancelText: 'Cancelar' });
    	    
			if ($("#id_instructions").length > 0) {
				tinymce.init({
					selector: "[name='instructions']",
					theme: "modern",
					height: 100,
					menubar: false,
					plugins: [
					"advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
					"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
					"save table contextmenu directionality emoticons template paste textcolor"
					],
					toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | preview media fullpage | forecolor backcolor emoticons",
				});
			};
		}, 200)
	}
    $(document).ready(function() {
		$(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
			loadJqueryPlugins();
		});
		loadJqueryPlugins();
		createTaskRegisterApp(function(ev) {});
	});
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}