{% load widget_tweaks %}
<div id="navpills-1" class="tab-pane  {% if 'Daily' == form.periodicity.value  %} active {% endif %}" >
			
        <form method="post" class="form-horizontal m-t-40">
                <h3 class="box-title" style="margin-bottom: 15px">Preferencias de tarea</h3>
                <input hidden name="periodicity" value="Daily" />
        <div class="form-group m-t-40 row">
            <label for="{{form.name.label}}" class="col-12 col-md-2 col-form-label">{{form.name.label}}</label>
            <div class="col-12 col-md-10">
                {{ form.name|add_class:"form-control" }}
            </div>
            {% if form.name.errors %}
            <div style="color: danger">
                {{ form.name.error }}
            </div>
             {% endif %}
        </div>

        {% comment %} <div class="form-group m-t-40 row">
            <label for="{{form.project.label}}" class="col-12 col-md-2 col-form-label">{{form.project.label}}</label>
            <div class="col-12 col-md-10">
                {{ form.project|add_class:"form-control" }}
            </div>
            {% if form.project.errors %}
            <div style="color: danger">
                {{ form.project.error }}
            </div>
             {% endif %}
        </div> {% endcomment %}

        {% if parent_task.count > 0 %}
            <div class="form-group m-t-40 row">
                <label for="{{form.parent.label}}" class="col-12 col-md-2 col-form-label">{{form.parent.label}}</label>
                <div class="col-12 col-md-10">
                    <select name="parent" id="id_parent" class="js-states form-control">
                        <option value="">---------</option>
                        {% for t in parent_task %}
                            <option value="{{t.id}}"  {% if t.id == form.parent.value %} selected {% endif %}>{{t.name}}  </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.parent.errors %}
                <div style="color: danger">
                    {{ form.parent.error }}
                </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="form-group m-t-40 row">
            <label for="{{form.days.label}}" class="col-12 col-md-2 col-form-label">{{form.days.label}}</label>
            <div class="col-12 col-md-10">
            <select name="days" multiple class="form-control js-example-basic-multiple">
              <option value="0"   {% if '0' in form.days.value  %} selected {% endif %}>Lunes</option>
              <option value="1"   {% if '1' in form.days.value  %} selected {% endif %}>Martes</option>
              <option value="2"   {% if '2' in form.days.value  %} selected {% endif %}>Miercoles</option>
              <option value="3"   {% if '3' in form.days.value  %} selected {% endif %}>Jueves</option>
              <option value="4"   {% if '4' in form.days.value  %} selected {% endif %}>Viernes</option>
              <option value="5"   {% if '5' in form.days.value  %} selected {% endif %}>Sabado</option>
              <option value="6"   {% if '6' in form.days.value  %} selected {% endif %}>Domingo</option>
            </select>
            </div>
            {% if form.days.errors %}
            <div class="invalid-feedback">
                {{ form.days.error }}
            </div>
             {% endif %}
        </div>
        <div class="form-group row">
            <label for="{{form.start_hour.label}}" class="col-12 col-md-2 col-form-label">{{form.start_hour.label}}</label>
            <div class="col-12 col-md-4">
                <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                    <input v-bind:value="start_hour" type="text" name="start_hour" id="id_start_hour" placeholder="hh:mm" class="form-control timepicker" >
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                        </div>
                </div>
            </div>
            {% if form.start_hour.errors %}
            <div class="invalid-feedback">
                {{ form.start_hour.errors }}
            </div>
             {% endif %}

            <label for="{{form.end_hour.label}}" class="col-12 col-md-2 col-form-label">{{form.end_hour.label}}</label>
            <div class="col-12 col-md-4">
                <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                    <input v-bind:value="end_hour" type="text" name="end_hour" id="id_end_hour" placeholder="hh:mm" class="form-control timepicker"  >
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                        </div>
                </div>
            </div>
            {% if form.end_hour.errors %}
            <div class="invalid-feedback">
                {{ form.end_hour.error }}
            </div>
             {% endif %}
        </div>
        {% include "administrator/task-administration-tab-commons.html"%}
        </form>


    </div>