{% load widget_tweaks %}
<div id="navpills-3" class="tab-pane  {% if 'Unique' == form.periodicity.value  %} active {% endif %}">
        <form method="post" class="form-horizontal m-t-40">
            <input hidden name="periodicity" value="Unique" />
        <div class="form-group m-t-40 row">
            <label for="{{form.name.label}}" class="col-12 col-md-2 col-form-label">{{form.name.label}}</label>
            <div class="col-12 col-md-10">
                {{ form.name|attr:"placeholder:Name"|add_class:"form-control" }}
            </div>
            {% if form.name.errors %}
            <div style="color: danger">
                {{ form.name.error }}
            </div>
             {% endif %}
        </div>
        {% if parent_task.count > 0 %}
            <div class="form-group row">
                <label for="{{form.parent.label}}" class="col-12 col-md-2 col-form-label">{{form.parent.label}}</label>
                <div class="col-12 col-md-10">
                    <select name="parent" id="id_parent" class="js-states form-control">
                        <option value="">---------</option>
                        {% for t in parent_task %}
                            <option value="{{t.id}}"  {% if t.id == form.parent.value %} selected {% endif %}>{{t.name}}  </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.parent.errors %}
                <div style="color: danger">
                    {{ form.parent.error }}
                </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="form-group row">
            <label for="{{form.start_date.label}}" class="col-12 col-md-2 col-form-label">{{form.start_date.label}}</label>
            <div class="col-12 col-md-10">
                {{ form.start_date|add_class:"form-control bootstrapMaterialDatePicker" }}
            </div>
            {% if form.start_date.errors %}
            <div style="color: danger">
                {{ form.start_date.error }}
            </div>
             {% endif %}
        </div>


        <div class="form-group row">
            <label for="{{form.start_hour.label}}" class="col-12 col-md-2 col-form-label">{{form.start_hour.label}}</label>
            <div class="col-12 col-md-4">
                <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                    <input v-bind:value="start_hour" type="text" name="start_hour" id="id_start_hour" placeholder="hh:mm" class="form-control timepicker" >
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                        </div>
                </div>
            </div>
            {% if form.start_hour.errors %}
            <div class="invalid-feedback">
                {{ form.start_hour.errors }}
            </div>
             {% endif %}

            <label for="{{form.end_hour.label}}" class="col-12 col-md-2 col-form-label">{{form.end_hour.label}}</label>
            <div class="col-12 col-md-4">
                <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                    <input v-bind:value="end_hour" type="text" name="end_hour" id="id_end_hour" placeholder="hh:mm" class="form-control timepicker"  >
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                        </div>
                </div>
            </div>
            {% if form.end_hour.errors %}
            <div class="invalid-feedback">
                {{ form.end_hour.error }}
            </div>
             {% endif %}
        </div>
        {% include "administrator/task-administration-tab-commons.html"%}
        </form>
    </div>