{% extends 'site/base_dashboard.html' %}

{% block title %}Gestionar tareas{% endblock %}
{% block contentHeader %}
	<div class="row page-titles">
		<div class="col-5 align-self-center">
			<h4 class="text-themecolor">Crear tareas</h4>
		</div>
		<div class="col-7 align-self-center text-right">
			<div class="d-flex justify-content-end align-items-center">
				<a href="/task-administrator-new-document/" type="button" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Crear Tarea</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col">
		<div>
			<div>
				<div class="card b-all shadow-none">
						<table class="display nowrap table table-hover table-striped table-bordered dataTable" id="table" width="100%" >
							<thead>
								<tr>
									<th>Tarea</th>
									<th>Proyectos</th>
									<th>Periodo</th>
									<th>Tipo</th>
									<th>Fecha creación</th>
									<th>Opciones</th>
								</tr>
							</thead>

							<tbody>
								{% for t in task %}
								<tr  data-task="{{t.state.label}}">
									<td >
										{{ t.name }}
									</td>
									<td >
										{% firstof t.projects_names 'Tarea Independiente' %}
									</td>

									<td>
										{{ t.get_periodicity }}
									</td>
									<td>
										{{ t.verbose_type }}
									</td>
									<td>
										{{ t.created_at }}
									</td>
									<td>
										<a data-toggle="tooltip" data-original-title="Editar" href="/task-administrator-update/{{ t.id }}/" class="btn btn-warning m-r-10"><i class="mdi mdi-grease-pencil"></i></a>
										<a data-toggle="tooltip" data-original-title="Remover" href="/task-administrator-remove/{{ t.id }}/" class="btn btn-danger m-r-10"><i class="mdi mdi-delete"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
				</div>
			</div>
		</div>

	</div>

</div>

</div>
</div>



{% endblock %}





{% block javascript %}


<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw.js"></script>
<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw-init.js"></script>
<!-- This is data table -->
<script src="/static/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="/static/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>

<script>
    $(document).ready(function() {

$('#table').DataTable({
                dom: 'Bfrtip',
                bLengthChange: true,
                buttons: [
                'copy', 'excel', 'pdf', 'print'
				],
				order: [],
				responsive: true, 
				pageLength: 7,
            	"displayLength": 20,
                language: {
					"url": "/static/assets/js/Spanish.json",
					buttons: {
						copy: 'Copiar',
						print: 'Imprimir'
					}
                },
            });
  })
</script>

{% endblock %}