{% extends 'site/base_dashboard.html' %}
{% block title %}Usuarios{% endblock %}
{% block contentContainer %}
<div class="row"  style="padding: 0">
	<div class="col">
		<div>
			<div class="row page-titles">
			<div class="col-5 align-self-center">
				<h4 class="text-themecolor">Usuarios</h4>
			</div>
			<div class="col-7 align-self-center text-right">
				<div class="d-flex justify-content-end align-items-center">
					<a href="/create-user/" type="" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Crear usuario</a>
				</div>
			</div>
		</div>
			<div class="card p-t-0" style="padding: 0">
				<div class="card-body">
						<table class="display nowrap table table-hover table-striped table-bordered dataTable" id="table" width="100%" >
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Email</th>
									<th>Rol</th>
									<th>Fecha creación</th>
									<th>Último ingreso</th>
									<th>Acción</th>
								</tr>
							</thead>

							<tbody>
								{% for u in user %}
								<tr >
									<td class="align-center" >
										<h5><img src="/{{u.avatar}}" width="30" height="30" class="img-circle" alt="logo"> {{ u.get_fullname }}</h5>
									</td>
									<td>
										{{ u.email }}
									</td>
									<td>
										{{ u.get_profile }}
									</td>
									<td>
										{{ u.date_joined }}
									</td>
									<td>
										{% firstof u.last_login 'Nunca' %}
									</td>
									<td>
										<a href="/user-administrator-detail/{{ u.id }}/" class="btn btn-info" data-toggle="tooltip" data-original-title="Ver perfil"><i class="mdi mdi-account-search" aria-hidden="true"></i></a>
										<a href="/update-user/{{ u.id }}/" class="btn btn-warning" data-toggle="tooltip" data-original-title="Editar perfil"><i class="mdi mdi-account-edit" aria-hidden="true"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}
{% block javascript %}

<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw.js"></script>
<script src="/static/assets/node_modules/tablesaw-master/dist/tablesaw-init.js"></script>
<!-- This is data table -->
<script src="/static/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="/static/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<script>
    $(document).ready(function() {
		$('#table').DataTable({
			dom: 'Bfrtip',
			bLengthChange: false,
			buttons: [
			'copy', 'excel', 'pdf', 'print'
			],			
			language: {
				"url": "/static/assets/js/Spanish.json",
				buttons: {
					copy: 'Copiar',
					print: 'Imprimir'
				}
			},
			responsive: true
		});
	})
</script>
{% endblock %}