{% spaceless %}
<div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add-task"><i class="fa fa-plus"></i> Crear tarea</button>
    <div class="modal" tabindex="-1" role="dialog" id="modal-add-task">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir tarea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}