{% extends "site/base_dashboard.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/assets/node_modules/dropzone-master/dist/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/execute_task.css" />
{% endblock css %}
{% block contentContainer %}
  <div id="app-root">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor" v-text="'Ejecutar tarea (' + task.name + ')'"></h4>
        </div>
    </div>
    <execute-task-images v-if="task.type == 'document'">
    </execute-task-images>
    <execute-task-form
        v-if="task.type == 'form'"
        :formfields="task.formFields"
        :key="task.id"
    >
    </execute-task-form>
  </div>
  <script type="text/x-template" id="execute-task-image-tpl">
        <div class="card">
            <div class="card-body">
                <form class="execute_task__dropzone-container" id="dropzone">
                    {% csrf_token %}
                    <div class="dz-default dz-message mb-3"><span>has clic aquí para subir tus evidencias </span></div>
                    <div class="execute_task__dropzone-preview row">
                        <div v-for="images in uploadedImages" class="col-6 col-md-2">
                            <div class="card-dropzone">
                                <div class="row">
                                    <div class="col-12">
                                        <img class="img-fluid" :src="'/static/files/task_evidences/' + images.name" alt="">
                                    </div>
                                </div>
                                <div class="dz-remove" @click="removeFile(images.name)"><i class="mdi mdi-bookmark-remove"></i> Remover</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input v-for="images in uploadedImages" name="files[]" type="hidden" :value="images.name" />
                    <div class="row">
                        <div class="col my-2">
                            <button class="btn btn-primary" :disabled="uploadedImages.length == 0" @click="send">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
  </script>
  <script type="text/x-template" id="execute-task-form-tpl">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div v-for="field in formfields">
                        <div class="row">
                            <div class="col-md-2" v-text="field.optional ? (field.label + ':') : ('*' + field.label + ':')"></div>
                            <div class="col-md-10 form-group">
                                <input :required="!field.optional" v-if="field.input_type == 'open-ended-question'" type="text" class="form-control" :name="field.id">
                                <select :required="!field.optional" v-else-if="field.input_type == 'multiple-choice'" class="form-control" :name="field.id">
                                    <option :value="index" v-for="(option, index) in field.options.split(',')" v-text="option"></option>
                                </select>
                                <input :required="!field.optional" v-else-if="field.input_type == 'number'" type="tel" :name="field.id" class="form-control" />
                                <textarea :required="!field.optional" v-else-if="field.input_type == 'textarea'" type="tel" :name="field.id" class="form-control"></textarea>
                                <input :required="!field.optional" v-else-if="field.input_type == 'time'" type="time" :name="field.id" class="form-control" />
                                <input :required="!field.optional" v-else-if="field.input_type == 'checkbox'" type="checkbox" :name="field.id" class="js-switch" />
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
  </script>
{% endblock contentContainer %}
{% block javascript %}
  <script
    src="/static/assets/node_modules/dropzone-master/dist/dropzone.js"
    type="text/javascript"
  ></script>
  <script>
      Vue.component('execute-task-form', {
        template: '#execute-task-form-tpl',
        name: 'execute-task-form',
        props: ['formfields'],
      });

      Vue.component('execute-task-images', {
        template: '#execute-task-image-tpl',
        name: 'execute-task-images',
        data: function() {
            return {
                uploadedImages: [],
            };
        },
        mounted: function() {
            var t = this;
            $preview = $('.dz-preview');
            $("#dropzone").dropzone({
                url: "/task-upload-evidence/",
                addRemoveLinks: true,
                dictRemoveFile: 'Remover evidencia',
                addedfile: function(file) {
                },
                removedfile: function(file) {
                    t.uploadedImages.filter(function (f) {
                        return f.name !== file.name
                    });
                },
                thumbnail: function(file, dataUrl) {
                    t.uploadedImages.push(file);
                },
            });
        },
        methods: {
            removeFile: function(filename) {;
                t = this;
                t.uploadedImages = t.uploadedImages.filter(function (f) {
                    return f.name !== filename
                });
            },
            send: function() {
                form.submit();
            }
        }
      });

      new Vue({
          el: '#app-root',
          data: {
            task: JSON.parse('{{ task | safe }}')
          }
      });
  </script>
{% endblock javascript %}