{% extends 'site/base_dashboard.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/assets/js/lightbox2-master/dist/css/lightbox.min.css" />
{% endblock %}
{% block contentContainer %}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Revisión de tareas</h4>
    </div>
</div>
<div>
    <div>
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title mb-5">Instrucciones</h4>
                        {{ result.task.instructions | safe }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title mb-5">Resultado de la tarea</h4>
                        {% if result.task.type == 'document' %}
                            <div class="row">
                                {% for evidence in result.evidences.all %}
                                    <div class="col col-6">
                                        <a class="fancy col rounded-circle" href="/static/files/task_evidences/{{ evidence.evidence }}" data-lightbox="image-1">
                                            <img class="img-fluid img-thumbnail" src="/static/files/task_evidences/{{ evidence.evidence }}" alt=""/>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                        {% for r in result.form_responses.all %}
                                <div class="row">
                                    <div class="col" for="">{{ r.formField.label }}:</div>
                                    <div class="col" for="">{{ r.response }}</div>
                                </div>
                                {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <form class="col" method="post" action="">
                <div class="card h-100" style="overflow-y: auto; max-height: calc(100vh - 200px)">
                    <div class="card-body">
                        {% csrf_token %}
                        <h4 class="title mb-5">Calificación de la tarea</h4>
                        <div class="form-group">
                            <label for="comments">Efectuó correctamente la tarea:</label>
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="score1" name="score" class="custom-control-input" value="1" {% if result.audit_score == 1 %}checked{% endif %}>
                                        <label class="custom-control-label" for="score1">Si</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="score0" name="score" class="custom-control-input" value="0" {% if result.audit_score == 0 %}checked{% endif %}>
                                        <label class="custom-control-label" for="score0">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comments">Comentarios:</label>
                            <textarea type="text" class="form-control" name="comments" id="comments">{% firstof result.audit_result '' %}</textarea>
                        </div>
                        <button class="btn btn-primary">Calificar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contentContainer %}

{% block javascript %}
    <script src="/static/assets/js/lightbox2-master/dist/js/lightbox.min.js" type="text/javascript"></script>
{% endblock %}