.floating-labels .bar:before, .floating-labels .bar:after{
    background:#563DEA !important;
}
.list-group-item-primary{
    background:#563dea  !important;    
    border-color: #4c32e9;

}
.mbt{
    margin-bottom:5px !important;
    margin-top:5px !important;
}
.custom-file-label::after {
    content: "Buscar" !important;
}