{% extends "site/base_dashboard.html" %}
{% load widget_tweaks %}
{% load task_extras %}
{% block css %}
  <link rel="stylesheet" href="/static/assets/node_modules/dropify/dist/css/dropify.min.css" />
{% endblock css %}
{% block contentContainer %}  
<div>
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Crear Usuario</h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{form.errors}}
                </div>
            {% endif %}
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="id_avatar">{{form.avatar.label}}</label>
                    <div class="col-12 col-md-4">
                        {% with 'data-default-file:/'|concat_string:form.avatar.value as default_avatar %}
                            {{ form.avatar|add_class:"dropify"|attr:'placeholder:Imagen'|attr:default_avatar }}
                        {% endwith %}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-form-label" for="id_first_name">{{form.first_name.label}}</label>
                    <div class="col-12 col-md-10">
                        {{form.first_name|add_class:"form-control"|attr:'placeholder:Nombres:'}}
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-form-label" for="id_last_name">{{form.last_name.label}}</label>
                    <div class="col-12 col-md-10">
                        {{form.last_name|add_class:"form-control"|attr:'placeholder:Apellidos:'}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-form-label" for="id_email">{{form.email.label}}</label>
                    <div class="col-12 col-md-10">
                        {{form.email|add_class:"form-control"|attr:'placeholder:Correo'}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-form-label" for="id_mobile">{{form.mobile.label}}</label>
                    <div class="col-12 col-md-10">
                        {{form.mobile|add_class:"form-control"|attr:'placeholder:Teléfono'}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-form-label" for="id_username">{{form.username.label}}</label>
                    <div class="col-12 col-md-10">
                        {{form.username|add_class:"form-control"|attr:'placeholder:Usuario:'}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-form-label" for="id_password">{{form.password.label}}</label>
                    <div class="col-12 col-md-10">
                        {{form.password|add_class:"form-control"|attr:'placeholder:Contraseña:'|attr:"type:password"}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-form-label" for="id_groups">{{form.groups.label}}</label>
                    <div class="col-12 col-md-10">
                        {{form.groups|add_class:"form-control"|attr:'placeholder:rol:'}}
                    </div>
                </div>
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock contentContainer %}
{% block javascript %}
<script src="/static/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
<script>
    $(function() {
        $('.dropify').dropify({
            messages: {
                default: 'Subir fotografía',
                replace: 'Replazar',
                remove: 'Remover',
                error: 'Error procesando la imagen'
            }
        });
    })
</script>
{% endblock javascript %}