@import url("useragentmanExample.css");
@import url("basicForm.css");

input[required], select[required] {
	background: #ffffee url("../images/asterix.gif")  no-repeat left 2px !important;
	padding-left: 1.5em;
	width: auto !important;
}

input[type="radio"], input[type="checkbox"] {
	background-image: none !important;
	padding-left: 0;
}

select[required] {
	width: auto !important;
}

input[type="radio"], input[type="checkbox"] {
	width: auto !important;
}


input:invalid {
		
}

table.formTable input[type="submit"] {
	width: auto;	
}

